
/* Transvar-Listing: */
.lzy-list-entry {
    /*margin-bottom: 0.8em;*/
    padding: 0.6em 0.4em;
}
.lzy-list-entry:nth-child(odd) {
    background: #eee; 
}
.lzy-macro-name,
.lzy-macro-info,
.lzy-list-entry span,
.lzy-list-line span,
.lzy-list-src,
.lzy-list-var {
    display: inline-block;
    vertical-align: top;
}
.lzy-list-line span {
    margin-bottom: 0.3em;
}
.lzy-list-var {
    font-weight: bold;
    color: maroon;
}
.lzy-list-attr-name {
    width: 6em;
    text-align: right;
}
.lzy-macro-info {
    width: calc(100% - 7em - 26px);
}
.lzy-list-attr-value {
    width: calc(100% - 12em);
    margin-left: 0.5em;
}
.lzy-list-scalar-value {
    margin-left: 7em;
}
.lzy-list-entry.unused span,
.lzy-list-entry.unused {
    color: gray;
}
.lzy-list-var {
    width: 24em;
}


.lzy-macro-name,
.lzy-macro-info {
    display: inline-block;
}
.lzy-macro-name {
    width: 8em;
    text-align: right;
    padding: 0.3em;
    color: maroon;
}
.lzy-login-form button {
    min-width: 6em;
    padding: 5px 10px;
    margin-top: 10px;
}