/* Styles for the doodle macro */

.lzy-doodle-answer-form {
	overflow: auto;
}
.lzy-doodle {
	display: table;
	border-collapse: collapse;
}
.lzy-doodle-row {
	display: table-row;
}
.lzy-doodle-name-elem,
.lzy-doodle-elem {
	display: table-cell;
	font-size: initial;
	border: 1px solid #93ab15;
}
.lzy-doodle-elem {
	min-width: 5em;
	min-height: 2em;
	padding: 5px 10px;
	overflow: hidden;
	text-align: center;
}
.lzy-doodle-name-elem {
	width: 10em;
	min-height: 2em;
	text-align: left;
}
.lzy-doodle-elem input[type="radio"],
.lzy-doodle-elem input[type="checkbox"] {
	outline: 100vw solid #fee;
}
.lzy-doodle-elem input[type="radio"]:checked,
.lzy-doodle-elem input[type="checkbox"]:checked {
	outline: 100vw solid #dfd;
}


.lzy-doodle-entry-name {
	width: 100%;
}
.lzy-doodle-answer-submit {
	font-size: initial;
}
.lzy-doodle-answer,
.lzy-doodle-answer_name {
	background: #f8ff8a33;
}
.lzy-doodle-answer_name,
.lzy-doodle-entry-name {
	padding: 2px;
	background: #f8ff8a33;
}
.lzy-doodle-new-entry-row {
	margin: 3px 0;
}
.lzy-doodle-new-entry-row .lzy-doodle-elem,
.lzy-doodle-new-entry-row .lzy-doodle-name-elem {
	margin: 3px 0;
	border-top: 2px solid #666;
	border-bottom: 2px solid #666;
}
.lzy-doodle-hdr .lzy-doodle-name-elem:first-child {
	border: none;
}
.lzy-doodle-answer-submit {
	width: 10em;
	height: 2em;
}
.lzy-doodle-submit {
	margin-top: 5px;
}
.lzy-doodle-err-msg {
	display: table-row;
}
.lzy-doodle-err-msg output {
	display: block;
}
.lzy-doodle-err-msg output {
	padding: 10px;
	background: #fee;
	border: 1px solid red;
}
