/*
** Styles for editing
*/

section {
	padding: 0;
}
.btn_editor {
	position: absolute;
	top: -10px;
	right: -10px;
	width: 20px;
	height: 20px;
	background: url(../rsc/edit.png) no-repeat;
	color: rgba(0,0,0,0);
	border: none;
}
.edit-sitemap .btn_editor {
	top: 2px;
	right: 2px;
}
main > section, .file-uploader {
	border: 1px dotted #c9e139;
}
.file-uploader.container {
	margin-top: 10px;
	padding-top: 10px;
	padding-right: 0;
    padding-left: 0;
	width: inherit;
	clear: both;
}
.file-uploader #fileupload {
	display: none;
}
.editing div.edit_btns {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 99;
}
.editing div.edit_btns button {
	width: 51px;
	height: 51px;
}
.CodeMirror, 
.CodeMirror-scroll {
    min-height: 200px;
}

.edit_btns img {
	width: 24px;
	height: 24px;
}
.edit_btns button {
	padding: 0;
	margin: 0;
	background: white;
	border: 1px solid #ddd;
}

/* --- img resource list --- */
.img_resources {
	border: 1px dotted #c9e139;
	margin-top: 10px;
	padding: 10px;
}
.img_resources li {
	list-style-type: none;
}
.img_resources li span {
	display: inline-block;
	vertical-align: middle;
}
.img_resources .img_resources-c1 {
	width: 15em;
}
.img_resources .img_resources-preview {
	width: 50px;
}
.img_resources .img_resources-preview img {
	max-width: 32px;
	height: auto;
	max-height: 32px;
	width: auto;
}
.img_resources .img_resources-preview img:hover {
	max-width: 232px;
	max-height: 232px;
}

div.ed-selector {
    float: right;
    border: 1px solid olive;
    display:  inline-block;
    padding:  3px 11px;
    margin: 0 0 10px;
}
.ed-selector > span.ed-selector,
.ed-selector-save, 
.ed-selector-cancel {
    display: inline-block;
    width: 2em;
    padding: 0 3px;
    border: 1px solid gray;
    border-radius: 3px;
    background: #eee;
    text-align: center;
    color: #606F15;
}
.ed-selector a {
    border-bottom: none;
    color: #55630e;
    font-weight: bold;
    width:  100%;
    display:  inline-block;
    padding: 0 3px;
}
.ed-selector  span.ed-selector.ed-selector-inactive,
.ed-selector  span.ed-selector-inactive {
    color: #aaa;
    font-weight: normal;
}
span.ed-dropdown,
span.ed-dropdown select {
    width: 12em;
}
.ed-selector .ed-selector-prompt {
    display:  inline-block;
    margin: 0 1em 0 0;
}

#blueimp-gallery {
    display: none;
}

.edit_btns2 {
    position: absolute;
    bottom: 0px;
}

section.editing {
    margin-bottom: 50px;
}
