.lzy-enrollment-dialog {
    position: absolute;
    background: #eff;
    width: 400px;
    padding: 10px 20px 10px 20px;
}
.lzy-enroll-dialog-close {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 200%;
	cursor: pointer;
}
#lzy-enroll-popup-bg {
	background: rgba(200,200,200,0.8);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
}



/* === colors ================================ */
.lzy-enrollment-list span.lzy-name, .lzy-enrollment-list a {
	color: #444;
}
.lzy-enrollment-list .lzy-enroll-add-field .lzy-name {
	color: #aaa;
}
.lzy-enrollment-list a:hover span.lzy-name {
	color: blue;
}
.lzy-enrollment-list .lzy-num {
	color: #a57878;
}
.lzy-enrollment-list .lzy-enroll-field {
	background: #eff;
	max-width: 25em;
}
.lzy-enrollment-list .lzy-enroll-reserve-field {
	background: #ffe;
}


/* === lzy-enrollment-list ======================= */
.lzy-enrollment-list a {
	text-decoration: none;
}
.lzy-enrollment-list .lzy-num {
	width: 1.5em;
	display: inline-block;
	text-align: right;
	font-size: 80%;
}

.lzy-enrollment-list a:hover span.lzy-name {
	text-decoration: underline;
}
.lzy-enrollment-list td, .lzy-enrollment-list th {
	vertical-align: top;
}
.lzy-enrollment-list .lzy-enroll-field, .lzy-enrollment-list .lzy-enroll-field span,
.lzy-enrollment-list .lzy-enroll-reserve-field, .lzy-enrollment-list .lzy-enroll-reserve-field span {
	line-height: 24px;
	vertical-align: top;	
}
.lzy-enrollment-list .lzy-enroll-field, .lzy-enrollment-list .lzy-enroll-reserve-field {
	padding: 0;
	border-top: 1px dotted #ccc;
}
.lzy-enrollment-list .lzy-enroll-field:first-child, .lzy-enrollment-list .lzy-enroll-reserve-field:first-child {
/*	border-top: none; */
}

.lzy-enroll-add {
	font-weight: bold;
	color: rgb(0, 183, 0);
	font-style: normal;
}
.lzy-enroll-del {
	font-weight: bold;
	color: rgb(183, 0, 0);
	font-style: normal;
}

.lzy-enrollment-list .lzy-name {
	display: inline-block;
	width: calc(100% - 3em);
	white-space:nowrap; 
	overflow:hidden;
	text-overflow:ellipsis;
}

.lzy-enrollment-list .lzy-enroll-add-field .lzy-name {
	display: inline-block;
	width: calc(100% - 3em);
}
.lzy-enrollment-list .lzy-enroll-add-field {
	font-style: italic;
}
.lzy-enrollment-list .lzy-enroll-add-field .lzy-name {
	font-weight: lighter;
}
.lzy-enrollment-list .lzy-enroll-add-field .lzy-name:hover {
//	opacity: 1;
//	text-decoration: underline;
}

/* === enrollment dialog ========================== */
.lzy-enroll-hide-dialog {
	display: none;
}
.lzy-enrollment-dialog {
	font-size: 10pt;
	border-radius: 10px;
	box-shadow: 0 0 15px 5px #aaa;
	border: 1px solid #69bdbd;
}
.lzy-enrollment-dialog label, .lzy-enrollment-dialog input {
	display: inline-block;
	padding: 4px 0;
}
.lzy-enrollment-dialog label, #delDialog.lzy-enrollment-dialog .lzy-c1 {
	width: 5em;
}
.lzy-enrollment-dialog input {
	padding: 3px;
	margin: 3px 0;
	width: 18em;
}
.lzy-enrollment-dialog button {
	width: 8em;
	padding: 3px;
	float: right;
	margin: 10px 10px 0 0;
	background: #ddd;
}
.lzy-enrollment-dialog .lzy-name {
	display: inline-block;
	width: 5em;
}
.lzy-enrollment-dialog h3 {
	color: #9B0404;
}
.lzy-enrollment-dialog input::placeholder {
	text-align: right;
	padding-right: 5px;
	font-style: italic;
	font-size: 90%;
}
.ui-mobile-viewport .lzy-enrollment-dialog button {
	width: 12em;
}

#delDialog .lzy-c1, #delDialog .lzy-c2 {
	display: inline-block;
}
#delDialog div.lzy-c2 {
	margin: 0 0 5px 8px;
	width: 15em;
}
div.lzy-enroll-comment {
	padding: 15px 20px;
	box-shadow: inset 0 0 10px #999;
	margin-top: 10px;
}
.lzy-enrollment-dialog .lzy-err-msg {
	padding: 10px;
	background: #fee;
	border: 1px solid red;
	margin: 0 10px;
}




/* === Dialogs =================================== */
.ui-dialog {
	font-size: 10pt;
}
.ui-dialog .ui-lzy-enroll-dialog-title, label, input {
	font-size: 10pt;
}

.lzy-enrollment-dialog .lzy-c1, .lzy-enrollment-dialog .lzy-c2 {
	display: inline-block;
}
.lzy-enrollment-dialog .lzy-c1 {
	width: 5em;
}
.lzy-enrollment-dialog .lzy-c2 {
	width: 23em;
}
/*.lzy-enrollment-dialog .rec {*/
	/*display: block;*/
	/*padding: 3px 0;*/
/*}*/
.lzy-enrollment-dialog input.button {
	width: 8em;
	float: right;
}
/*.lzy-enrollment-dialog .buttons .lzy-c1 {*/
	/*width: 100%;*/
/*}*/
.lzy-enroll-comment {
	margin: 5px 0;
	padding: 5px;
	background: #FEFFDE;
	line-height: 1.3em
}
.lzy-enrollment-dialog .lzy-err-msg {
	padding: 5px;
	margin: 10px 0;
	border: 1px solid red;
	background: #fee;
}

/* === Explanations ==============================
.explanations {
	margin-top: 2em;
	padding: 0 1em;
	background: #eee;
	border: 1px solid gray;
	font-size: 11pt;
	}
.explanations, .explanations p {
	color: #444;
}
.explanations h2 {
	font-size: 14pt;
	color: navy; 
}
*/