/***************************
Styles for Progressive Apps
(in conjunction with nav() macro
****************************/

body {
  // mobile header:
  --lzy-mobile-header-font-size: 8vw;
  --lzy-mobile-header-height: 16vw; //3em;
  --lzy-mobile-header-txt-color: #ddd;
  --lzy-mobile-header-bg-color: #444;
  --lzy-mobile-bg-color: #fff;

  --lzy-smallscreen-txt-color: #fff;
  --lzy-smallscreen-bg-color: #555;

}

//=== Mobile Nav & Menu Button
.lzy-mobile-page-header {
  text-align: center;
  height: var(--lzy-mobile-header-height);
  line-height: var(--lzy-mobile-header-height);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  background: var(--lzy-mobile-header-bg-color);
  h1 {
    font-size: var(--lzy-mobile-header-font-size);
    font-weight: bold;
    margin: 0;
    color: var(--lzy-mobile-header-txt-color);
  }
  button {
    height: var(--lzy-mobile-header-height);
    width: var(--lzy-mobile-header-height);
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;

    div {
      font-size: 8vw;
      text-align: center;
      color: var(--lzy-mobile-header-txt-color);
    }  }
}





body.small-screen {
  min-height: 100vh;
  position: absolute;
  .page {
    font-size: 12pt;
    width: 100vw;
    padding: 0;
    margin: 0;
    header {
      position: absolute;
      top: 0;
      left: 0;
    }
    .lzy-nav-wrapper {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .lzy-nav.lzy-nav-top-horizontal {
    position: absolute;
    top: var(--lzy-mobile-header-height);
    left: 0;
    padding: 1em 0;
  }

  main {
    width: calc(100vw - 2em);
    position: absolute;
    top: var(--lzy-mobile-header-height);
    left: 0;
    padding: 1em;
    background: var(--lzy-mobile-bg-color);
    box-shadow: 0 0 15px 0px black;
    z-index: 2;
  }
  .lzy-mobile-page-header {
    width: 100vw;
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 1em;
    background: var(--lzy-mobile-header-bg-color);
    width: calc(100vw - 2em);
    height: 7vh;
    line-height: 7vh;
    color: var(--lzy-mobile-header-txt-color);
    a {
      color: var(--lzy-mobile-header-txt-color);
    }
  }
  .lzy-mobile-page-header {
    display: block !important;
    z-index: 2;
  }
}




.lzy-nav-mobile-open main {
  margin-left:60vw;
  transition: margin-left 0.3s;
}
body.small-screen #lzy .lzy-nav-wrapper .lzy-nav {
  padding: 1em 0;
  > ol {
    background: transparent;
    li {
      background: transparent;
    }
    li::before,
    a {
      color: var(--lzy-smallscreen-txt-color);
    }
    a:focus {
      box-shadow: inset 0 0 10px red;
    }
  }
}


body.small-screen .page main {
  min-height: 100vh;
  transition: margin-left 0.3s;
}


body.small-screen {
  header {
    background: var(--lzy-smallscreen-bg-color);
    width: 60vw;
    height: 100vh;
  }
}


.lzy-mobile-page-header button:focus {
  box-shadow: inset 0 0 10px red;
}