/* === Tables ====================== */
table {
	border-collapse: collapse;
/*	width: 100%; */
}
td, th {
	border: 1px solid #aaa;
	padding: 4px 8px;
/*	width: 25%; */
	height: 1.6em;
}
th {
	background: #eee;
}

/* === Div Tables ====================== */
.divTable {
	box-sizing: border-box;
	display: table;
	border-collapse: collapse;
}
.divTable div.row {
	position: relative;
	display: block;
	padding: 0;
	margin: 0;
	vertical-align: top;
}
.divTable div.row {
	display:table-row;
}
.divTable div.row > div  {
	/*display: inline-block;*/
	display: table-cell;
	min-width: 10em;
	width: 25%;
	height: 1.6em;
	line-height: 1.6em;
	border: 1px solid #bbb;
	padding: 3px;
	margin: 0px;
}
.divHdr {
	background: #d6f7fb;
}

/* Alternative:
.divTable {
}
.divTable div.row {
	display: block;
	margin-bottom: 4px;
}
div.divTable div.row > div {
	display: inline-block;
	height: 1.5em;
	width: 30%;
	min-width: 15em;
	border: 1px dotted gray;
	line-height: 1.5em;
	margin: 0 -1px -1px 0;
}
*/
