@media screen and (max-width : 480px) {
    body .lizzy-login-wrapper {
        width: 100%;
        min-width: inherit;
    }
}


nav.lizzy-tab-labels {
  margin-bottom: 0!important; }

.lizzy-tabs {
  border: 1px solid rgba( 0,0,0,.4); 
  padding: 15px; }

.lizzy-tab-radio, .lizzy-tabs > div {
  display: none; }

.lizzy-tab-radio1:checked ~ .lizzy-tabs .lizzy-tab1, 
.lizzy-tab-radio2:checked ~ .lizzy-tabs .lizzy-tab2, 
.lizzy-tab-radio3:checked ~ .lizzy-tabs .lizzy-tab3, 
.lizzy-tab-radio4:checked ~ .lizzy-tabs .lizzy-tab4, 
.lizzy-tab-radio5:checked ~ .lizzy-tabs .lizzy-tab5, 
.lizzy-tab-radio6:checked ~ .lizzy-tabs .lizzy-tab6
.lizzy-tab-radio7:checked ~ .lizzy-tabs .lizzy-tab7, 
.lizzy-tab-radio8:checked ~ .lizzy-tabs .lizzy-tab8 {
  display: block; }

/* How to select the active tab:
.lizzy-tab-radio1:checked ~ nav.lizzy-tab-labels .lizzy-tab-label1 label,
.lizzy-tab-radio2:checked ~ nav.lizzy-tab-labels .lizzy-tab-label2 label,
.lizzy-tab-radio3:checked ~ nav.lizzy-tab-labels .lizzy-tab-label3 label,
.lizzy-tab-radio4:checked ~ nav.lizzy-tab-labels .lizzy-tab-label4 label,
.lizzy-tab-radio5:checked ~ nav.lizzy-tab-labels .lizzy-tab-label5 label,
.lizzy-tab-radio6:checked ~ nav.lizzy-tab-labels .lizzy-tab-label6 label,
.lizzy-tab-radio7:checked ~ nav.lizzy-tab-labels .lizzy-tab-label7 label,
.lizzy-tab-radio8:checked ~ nav.lizzy-tab-labels .lizzy-tab-label8 label {
    color: red;
}
*/

  .lizzy-tab-labels ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0; }
    .lizzy-tab-labels ul li {
      padding: 0;
      margin: 0;
      font-size: 12pt; }

.lizzy-tab-radio1:checked ~ nav .lizzy-tab-label1 label, 
.lizzy-tab-radio2:checked ~ nav .lizzy-tab-label2 label, 
.lizzy-tab-radio3:checked ~ nav .lizzy-tab-label3 label, 
.lizzy-tab-radio4:checked ~ nav .lizzy-tab-label4 label, 
.lizzy-tab-radio5:checked ~ nav .lizzy-tab-label5 label, 
.lizzy-tab-radio6:checked ~ nav .lizzy-tab-label6 label, 
.lizzy-tab-radio7:checked ~ nav .lizzy-tab-label7 label, 
.lizzy-tab-radio8:checked ~ nav .lizzy-tab-label8 label {
    color: #111;
    position: relative; }
/* activate if necessary:
.lizzy-tab-radio1:checked ~ nav .lizzy-tab-label1 label:after, 
.lizzy-tab-radio2:checked ~ nav .lizzy-tab-label2 label:after, 
.lizzy-tab-radio3:checked ~ nav .lizzy-tab-label3 label:after, 
.lizzy-tab-radio4:checked ~ nav .lizzy-tab-label4 label:after, 
.lizzy-tab-radio5:checked ~ nav .lizzy-tab-label5 label:after, 
.lizzy-tab-radio6:checked ~ nav .lizzy-tab-label6 label:after, 
.lizzy-tab-radio7:checked ~ nav .lizzy-tab-label7 label:after, 
.lizzy-tab-radio8:checked ~ nav .lizzy-tab-label8 label:after {
      content: '';
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #fff;
      left: 0;
      bottom: -1px; }
*/

.lizzy-tab-labels li label:not(.tilted) { 
    position: relative; 
    display: inline-block; 
    padding: .3em 1em 0;
/*    font-size: 120%;*/
    line-height: 2.5em;
    text-align: center;
    width: 8em;
    background: #ccc; 
    background-image: linear-gradient( hsla( 0,0%, 100%,.6), hsla( 0,0%, 100%, 0)); 
    border: 1px solid rgba( 0,0,0,.4); 
    border-bottom: none; 
    border-radius: .3em .3em 0 0; 
    box-shadow: 0 .15em white inset; 
}
.lizzy-tab-radio1:checked ~ nav .lizzy-tab-label1 label:not(.tilted),
.lizzy-tab-radio2:checked ~ nav .lizzy-tab-label2 label:not(.tilted),
.lizzy-tab-radio3:checked ~ nav .lizzy-tab-label3 label:not(.tilted),
.lizzy-tab-radio4:checked ~ nav .lizzy-tab-label4 label:not(.tilted),
.lizzy-tab-radio5:checked ~ nav .lizzy-tab-label5 label:not(.tilted),
.lizzy-tab-radio6:checked ~ nav .lizzy-tab-label6 label:not(.tilted),
.lizzy-tab-radio7:checked ~ nav .lizzy-tab-label7 label:not(.tilted),
.lizzy-tab-radio8:checked ~ nav .lizzy-tab-label8 label:not(.tilted) {
    background-color: #fff;
    margin-bottom: -.08em;
}

/* tilted tabs */
.lizzy-tab-labels li label.tilted { 
    position: relative; 
    display: inline-block; 
    padding: .3em 1em 0;
/*    font-size: 14pt;*/
    line-height: 2.5em;
    text-align: center;
/*    width: 8em;*/
    min-width: 5em;
    margin: 0 -0.2em;
}
.lizzy-tab-labels li:first-child label.tilted { 
    margin-left: 0.5em;
}
.lizzy-tab-labels li label.tilted::before { 
    content: ''; 
    position: absolute; 
    top: 0; right: 0; bottom: 0; left: 0; 
    z-index: -1; 
    background: #ccc; 
    background-image: linear-gradient( hsla( 0,0%, 100%,.6), hsla( 0,0%, 100%, 0)); 
    border: 1px solid rgba( 0,0,0,.4); 
    border-bottom: none; 
    border-radius: .3em .3em 0 0; 
    box-shadow: 0 .15em white inset; 
    transform: perspective(1.1em) rotateX( 3deg); 
    transform-origin: bottom; 
}

.lizzy-tab-radio1:checked ~ nav .lizzy-tab-label1 label.tilted, 
.lizzy-tab-radio2:checked ~ nav .lizzy-tab-label2 label.tilted, 
.lizzy-tab-radio3:checked ~ nav .lizzy-tab-label3 label.tilted, 
.lizzy-tab-radio4:checked ~ nav .lizzy-tab-label4 label.tilted, 
.lizzy-tab-radio5:checked ~ nav .lizzy-tab-label5 label.tilted, 
.lizzy-tab-radio6:checked ~ nav .lizzy-tab-label6 label.tilted, 
.lizzy-tab-radio7:checked ~ nav .lizzy-tab-label7 label.tilted, 
.lizzy-tab-radio8:checked ~ nav .lizzy-tab-label8 label.tilted { 
    z-index: 2;}

.lizzy-tab-radio1:checked ~ nav .lizzy-tab-label1 label.tilted::before, 
.lizzy-tab-radio2:checked ~ nav .lizzy-tab-label2 label.tilted::before, 
.lizzy-tab-radio3:checked ~ nav .lizzy-tab-label3 label.tilted::before, 
.lizzy-tab-radio4:checked ~ nav .lizzy-tab-label4 label.tilted::before, 
.lizzy-tab-radio5:checked ~ nav .lizzy-tab-label5 label.tilted::before, 
.lizzy-tab-radio6:checked ~ nav .lizzy-tab-label6 label.tilted::before, 
.lizzy-tab-radio7:checked ~ nav .lizzy-tab-label7 label.tilted::before, 
.lizzy-tab-radio8:checked ~ nav .lizzy-tab-label8 label.tilted::before { 
    background-color: #fff;
    margin-bottom: -.08em;
}