
/* === Tooltips ================== */
body {
    --lzy-tooltip-arrow-size: 10px;
    --lzy-tooltip-bg-color: #efe;
    --lzy-tooltip-border-color: #afa;
}
[data-lzy-tooltip-from] {
    display: inline-block;
    border-bottom: 1px dashed var(--lzy-tooltip-border-color);
}
.lzy-tooltip-content {
    box-sizing: border-box;
    background: var(--lzy-tooltip-bg-color);
    border: 1px solid var(--lzy-tooltip-border-color);
    box-shadow: 0 0 15px -3px #666;
    border-radius: 5px;
    padding: 5px 15px;
}
.lzy-tooltip-content * {
    padding: 0;
    margin: 0;
}
/* Tooltip Arrows */
/*:not(.lzy-tooltip-anchor).lzy-tooltip-arrow::before,*/
:not(.lzy-tooltip-anchor).lzy-tooltip-arrow::before,
:not(.lzy-tooltip-anchor).lzy-tooltip-arrow::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
}
:not(.lzy-tooltip-anchor).lzy-tooltip-arrow-bottom::before,
:not(.lzy-tooltip-anchor).lzy-tooltip-arrow-bottom::after {
    top: 100%;
    left: 50%;
    margin-left: calc(-1 * var(--lzy-tooltip-arrow-size));
    border-left: var(--lzy-tooltip-arrow-size) solid transparent;
    border-right: var(--lzy-tooltip-arrow-size) solid transparent;
    border-top: var(--lzy-tooltip-arrow-size) solid var(--lzy-tooltip-border-color);
}
:not(.lzy-tooltip-anchor).lzy-tooltip-arrow-bottom::after {
    border-top-color: var(--lzy-tooltip-bg-color);
    margin-top: -2px;
}

:not(.lzy-tooltip-anchor).lzy-tooltip-arrow-top::before,
:not(.lzy-tooltip-anchor).lzy-tooltip-arrow-top::after {
    bottom: 100%;
    left: 50%;
    margin-left: calc(-1 * var(--lzy-tooltip-arrow-size));
    border-left: var(--lzy-tooltip-arrow-size) solid transparent;
    border-right: var(--lzy-tooltip-arrow-size) solid transparent;
    border-bottom: var(--lzy-tooltip-arrow-size) solid var(--lzy-tooltip-border-color);
}
:not(.lzy-tooltip-anchor).lzy-tooltip-arrow-top::after {
    border-bottom-color: var(--lzy-tooltip-bg-color);
    margin-bottom: -1px;
}

:not(.lzy-tooltip-anchor).lzy-tooltip-arrow-left::before,
:not(.lzy-tooltip-anchor).lzy-tooltip-arrow-left::after {
    top: 50%;
    right: 100%;
    margin-top: calc(-1 * var(--lzy-tooltip-arrow-size));
    border-top: var(--lzy-tooltip-arrow-size) solid transparent;
    border-bottom: var(--lzy-tooltip-arrow-size) solid transparent;
    border-right: var(--lzy-tooltip-arrow-size) solid var(--lzy-tooltip-border-color);
}
:not(.lzy-tooltip-anchor).lzy-tooltip-arrow-left::after {
    border-right-color: var(--lzy-tooltip-bg-color);
    margin-right: -1px;
}

:not(.lzy-tooltip-anchor).lzy-tooltip-arrow-right::before,
:not(.lzy-tooltip-anchor).lzy-tooltip-arrow-right::after {
    top: 50%;
    left: 100%;
    margin-top: calc(-1 * var(--lzy-tooltip-arrow-size));
    border-top: var(--lzy-tooltip-arrow-size) solid transparent;
    border-bottom: var(--lzy-tooltip-arrow-size) solid transparent;
    border-left: var(--lzy-tooltip-arrow-size) solid var(--lzy-tooltip-border-color);
}
:not(.lzy-tooltip-anchor).lzy-tooltip-arrow-right::after {
    border-left-color: var(--lzy-tooltip-bg-color);
    margin-left: -1px;
}

.lzy-tooltip-icon {
    height: 1.3em;
    line-height: 1.3em;
    width: auto;
    vertical-align: middle;
}
