/*
** Styles for editing
*/

#lzy-editor-dock-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 30px);
  height: calc(100vh - 20px);
  margin: 10px;
  background: #eee;
  border: 1px solid red;
  box-shadow: 0 0 15px 5px #444;
  box-sizing: border-box;
  z-index: 99999;
}

#lzy-editor-dock {
  overflow: auto;
  width: 100%;
  height: calc(100% - 2em);
  margin-top: 2em;

  /*width:  100%;*/
}

.lzy-editing-filename {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px 0 0 5px;
}

.lzy-src-wrapper {
  padding: 0;
  position: relative;
  margin-bottom: 35px;
}

.lzy-editor-btn {
  .lzy-icon-edit:before {
    position: absolute;
    top: 0.23em;
    right: 0.1em;
  }

  position: absolute;
  top: -16px;
  right: -10px;
  width: 20px;
  height: 20px;

  /*background: url(../rsc/edit.png) no-repeat;*/
  /*color: rgba(0,0,0,0);*/
  color: #829220;
  background: white;
  border: none;
  font-size: 133%;
}

.lzy-edit-sitemap .lzy-editor-btn {
  top: 2px;
  right: 2px;
  z-index: 9999;
}

main > .lzy-src-wrapper {
  border: 1px dotted #c9e139;
}

.lzy-file-uploader {
  border: 1px dotted #c9e139;

  &.container {
    margin-top: 10px;
    padding: 0;
    width: inherit;
    clear: both;

    /*border: none;*/
  }

  #lzy-fileupload {
    /*display: none;*/
  }
}

.lzy-editing div.lzy-edit-btns {
  position: absolute;
  top: 2em;
  right: 0;
  z-index: 99;

  button {
    width: 50px;
    height: 50px;
  }
}

.CodeMirror, .CodeMirror-scroll {
  min-height: 200px;
}

.lzy-edit-btns {
  img {
    width: 24px;
    height: 24px;
  }

  button {
    padding: 0;
    margin: 0;
    background: white;
    border: 1px solid #ddd;
  }
}

/* --- img resource list --- */

.img_resources {
  border: 1px dotted #c9e139;
  margin-top: 10px;
  padding: 10px;

  li {
    list-style-type: none;

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .img_resources-c1 {
    width: 15em;
  }

  .img_resources-preview {
    width: 50px;

    img {
      max-width: 32px;
      height: auto;
      max-height: 32px;
      width: auto;

      &:hover {
        max-width: 232px;
        max-height: 232px;
      }
    }
  }
}

div.lzy-ed-selector {
  border: 1px dotted #c9e139;
  padding: 3px 11px;
  margin: 0 0 10px -1px;
  position: absolute;
  width: calc(100% + 2px);
  text-align: right;
}

.lzy-ed-selector > span.lzy-ed-selector, .lzy-ed-selector-save, .lzy-ed-selector-cancel {
  display: inline-block;
  width: 2em;
  padding: 0 3px;
  border: 1px solid gray;
  border-radius: 3px;
  background: #eee;
  text-align: center;
  color: #606F15;
}

.lzy-ed-selector {
  a {
    border-bottom: none;
    color: #55630e;
    font-weight: bold;
    width: 100%;
    display: inline-block;
    padding: 0 3px;
  }

  span {
    &.lzy-ed-selector.lzy-ed-selector-inactive, &.lzy-ed-selector-inactive {
      color: #aaa;
      font-weight: normal;
    }
  }
}

span.lzy-ed-dropdown {
  width: 12em;

  select {
    width: 12em;
  }
}

.lzy-ed-selector .lzy-ed-selector-prompt {
  display: inline-block;
  margin: 0 1em 0 0;
}

#blueimp-gallery {
  display: none;
}

.lzy-edit-btns2 {
  position: absolute;
  bottom: 0px;
  z-index: 10;

  button {
    cursor: pointer;
  }
}

.lzy-src-wrapper.lzy-editing {
  margin-bottom: 50px;
  width: 100%;
  z-index: 9998;
  position: absolute;
  top: 0;
  left: 0;
}

.editor-statusbar {
  height: 30px;
}

.lzy-edit-sitemap {
  .editor-toolbar a {
    margin-left: -40px;
  }

  .CodeMirror .CodeMirror-code .cm-header {
    font-size: 100%;
    line-height: 100%;
  }

  .cm-header {
    font-weight: 100;
  }
}

/* for sitemap editor: overrule commented lines (#...) */

.cm-strong {
  font-weight: 100;
}

/* --- from bootstrap --------------------- */

.lzy-file-uploader {
  a {
    color: gray;
    font-family: helvetica, arial, sans-serif;
    font-size: 10pt;
  }

  color: gray;
  font-family: helvetica, arial, sans-serif;
  font-size: 10pt;

  .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .fade {
    &.in {
      opacity: 1;
    }

    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
  }

  .table-striped > tbody > tr:nth-child(odd) > td {
    background-color: #f9f9f9;
  }
}

.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.lzy-file-uploader .table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table > {
  tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
  }
}

.lzy-file-uploader-wrapper .lzy-button {
  padding: 0.4em 0.6em;
}

.fileupload-processing {
  opacity: 0.5;
}

.lzy-editor-new-file {
  margin-right: 1em;
}

.lzy-fileupload-buttons {
  padding: 10px 0 0 10px;
}

.lzy-file-uploader-wrapper1 {
  margin: 0 20px;
  float: right;
}

.lzy-file-uploader-wrapper {
  margin: 0 20px;
  padding: 0 20px;
}

.lzy-file-uploader {
  border: 1px solid #ddd;

  .name {
    margin-left: 1em;
  }
}

.lzy-editor-add-files {
  margin-top: -1px;
  display: inline-block;
}

/* === FileAdmin =============================== */

.lzy-file-uploader-wrapper {
  overflow: hidden;
}

.lzy-file-uploader.lzy-file-uploader.lzy-file-uploader {
  margin-top: -50em;
  transition: margin-top 0.4s;

  &.lzy-open {
    margin-top: 0;
    transition: margin-top 0.4s;
  }
}

/* --- Content Editor -------------------------- */

#lzy-edit-rename-file-container, #lzy-edit-new-filename-container {
  padding-top: 2em;
  padding-right: 2em;
  font-size: 11pt;
  transform: scale(1);
}

#lzy-edit-rename-file-container h1, #lzy-edit-new-filename-container h1 {
  font-size: 14pt;
  margin: 0 0 1em 0;
}

#lzy-edit-new-filename, #lzy-edit-rename-file {
  padding: 4px 8px;
}

#lzy-edit-rename-file-confirm {
  display: inline-block;
  cursor: pointer;
}
#lzy-editor-rename-to {
  line-height: 1.9em;
  padding: 0 0.5em;
}

/* === Transvar-Listing: ========================== */

.lzy-list-entry {
  /*margin-bottom: 0.8em;*/
  padding: 0.6em 0.4em;

  &:nth-child(odd) {
    background: #eee;
  }
}

.lzy-macro-name, .lzy-macro-info, .lzy-list-entry span, .lzy-list-line span, .lzy-list-src, .lzy-list-var {
  display: inline-block;
  vertical-align: top;
}

.lzy-list-line span {
  margin-bottom: 0.3em;
}

.lzy-list-var {
  font-weight: bold;
  color: maroon;
}

.lzy-list-attr-name {
  width: 6em;
  text-align: right;
}

.lzy-macro-info {
  width: calc(100% - 7em - 26px);
}

.lzy-list-attr-value {
  width: calc(100% - 12em);
  margin-left: 0.5em;
}

.lzy-list-scalar-value {
  margin-left: 7em;
}

.lzy-list-entry.unused {
  span {
    color: gray;
  }

  color: gray;
}

.lzy-list-var {
  width: 24em;
}

.lzy-macro-name, .lzy-macro-info {
  display: inline-block;
}

.lzy-macro-name {
  width: 8em;
  text-align: right;
  padding: 0.3em;
  color: maroon;
}

.lzy-login-form button {
  min-width: 6em;
  padding: 5px 10px;
  margin-top: 10px;
}