/* === Editor =================================== */


#lzy-editor-dock {
    overflow: auto;
    width: 100%;
    height: calc(100% - 2em);
    margin-top: 2em;
}
#lzy-editor-dock-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 30px);
    height: calc(100vh - 20px);
    margin: 10px;
    background: #eee;
    border: 1px solid red;
    box-shadow: 0 0 15px 5px #444;
    box-sizing: border-box;
    z-index: 99999;
    .lzy-editing-filename {
        position: absolute;
        top: 0;
        left: 0;
        padding: 3px 0 0 5px;
    }
    .editor-statusbar {
        height: 30px;
    }
}
.lzy-src-wrapper:not(.lzy-edit-sitemap) {
    border: 1px dotted #c9e139;
}
.lzy-editor-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 1.5em;
    height: 1.5em;
    color: #829220;
    background: white;
    border: none;
    --lzy-icon-factor: 1.5;
    cursor: pointer;
    .lzy-icon-edit:before {
        left: 0.2em;
    }
}
.lzy-edit-sitemap {
    .editor-toolbar {
        a {
            margin-left: -40px;
        }
    }
    .CodeMirror {
        .CodeMirror-code {
            .cm-header {
                font-size: 100%;
                line-height: 100%;
            }
        }
    }
    .cm-header {
        font-weight: 100;
    }
}
.CodeMirror-scroll {
    min-height: 200px;
}

.lzy-editing {
    div.lzy-edit-btns {
        position: absolute;
        z-index: 99;
        button {
            width: 50px;
            height: 50px;
        }
        img {
            width: 24px;
            height: 24px;
        }
        button {
            padding: 0;
            margin: 0;
            background: white;
            border: 1px solid #ddd;
            cursor: pointer;
        }
        .lzy-icon-cancel {
            color: darkred;
        }
        .lzy-icon-save {
            color: darkblue;
        }
        .lzy-icon-ok {
            color: darkolivegreen;
        }
    }
    div.lzy-edit-btns1 {
        top: 2em;
        right: 0;
    }
}



// === Edition Selector =========================
#lzy .lzy-encapsulated {
    &.lzy-ed-selector {
        border: 1px dotted #c9e139;
        padding: 3px 11px;
        margin: 0 0 10px -1px;
        position: absolute;
        width: calc(100% + 2px);
        text-align: right;

        & > span.lzy-ed-selector,
        .lzy-ed-selector-save,
        .lzy-ed-selector-cancel {
            display: inline-block;
            width: 2rem;
            padding: 0 3px;
            border: 1px solid gray;
            border-radius: 3px;
            background: #eee;
            text-align: center;
            color: #606F15;
            cursor: pointer;
        }
        a {
            border-bottom: none;
            color: #55630e;
            font-weight: bold;
            width: 100%;
            display: inline-block;
            padding: 0 3px;
        }
        a,
        .lzy-ed-selector-inactive {
            font-weight: normal;
            font-size: 80%;
            line-height: 1.36rem;
        }
        span.lzy-ed-selector-inactive {
            color: #aaa;
            cursor: not-allowed;
            width: 2rem;
        }

        & .lzy-ed-selector-prompt {
            display: inline-block;
            margin: 0 1em 0 0;
        }
    }
    span.lzy-ed-dropdown {
        width: 12em;
        select {
            width: 12em;
        }
    }

} // lzy-encapsulated



.lzy-edit-btns2 {
    position: absolute;
    bottom: 0px;
    z-index: 10;
    button {
        cursor: pointer;
    }
}



/* === File Manager =================================== */

#lzy .lzy-encapsulated {
  &.lzy-file-uploader-wrapper {
      position: relative;
      overflow: hidden;
      margin: 0 20px;
      padding: 0;
      background: white;
  }
  .lzy-file-uploader.lzy-file-uploader.lzy-file-uploader {
      margin-top: -50em;
      transition: margin-top 0.4s;
      padding: 10px;
      background: #fefff8;
      border: 1px solid #829220;
      &, .lzy-button, a {
        color: #829220;
      }

      &.lzy-open {
          margin-top: 0;
          transition: margin-top 0.4s;
      }
  }
  #lzy-edit-new-filename-container {
      padding-top: 2em;
      padding-right: 2em;
      font-size: 11pt;
      transform: scale(1);
      h1 {
          font-size: 14pt;
          margin: 0 0 1em 0;
      }
  }
  #lzy-edit-rename-file {
      padding: 4px 8px;
  }
  #lzy-edit-rename-file-confirm {
      display: inline-block;
      cursor: pointer;
  }
  #lzy-editor-rename-to {
      line-height: 1.9em;
      padding: 0 0.5em;
  }
  .lzy-list-entry {
      padding: 0.6em 0.4em;
  }
  .lzy-list-entry:nth-child(odd) {
      background: #eee;
  }
  .lzy-list-var {
      width: 24em;
  }
  .lzy-list-line {
      span {
          margin-bottom: 0.3em;
      }
  }
  .lzy-list-attr-name {
      width: 6em;
      text-align: right;
  }
  .lzy-macro-info {
      display: inline-block;
  }
  .lzy-list-attr-value {
      width: calc(100% - 12em);
      margin-left: 0.5em;
  }
  .lzy-list-scalar-value {
      margin-left: 7em;
  }
  .lzy-list-entry.unused {
      color: gray;
      span {
          color: gray;
      }
  }
  .lzy-macro-name {
      width: 8em;
      text-align: right;
      padding: 0.3em;
      color: maroon;
  }
  .lzy-login-form {
      button {
          min-width: 6em;
          padding: 5px 10px;
          margin-top: 10px;
      }
  }

    .lzy-fileupload-buttons {
        padding: 10px 0 0 10px;
    }
    .lzy-file-uploader {
        a {
            color: gray;
            font-family: helvetica, arial, sans-serif;
            font-size: 10pt;
        }

        border: 1px solid #ddd;
        color: gray;
        font-family: helvetica, arial, sans-serif;
        font-size: 10pt;

        .lzy-fileupload-table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 20px;
        }

        .lzy-fileupload-fade {
            &.in {
                opacity: 1;
            }

            opacity: 0;
            -webkit-transition: opacity .15s linear;
            -o-transition: opacity .15s linear;
            transition: opacity .15s linear;
        }

        .lzy-fileupload-table-striped > tbody > tr:nth-child(odd) > td {
            background-color: #f9f9f9;
        }
    }

    .lzy-fileupload-table-striped > tbody > tr:nth-child(odd) > th {
        background-color: #f9f9f9;
    }

    .lzy-file-uploader .lzy-fileupload-table > thead > tr > th {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }

    .lzy-fileupload-table > {
        tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
        }
    }
    #lzy-editor-new-file-name-box {
        padding: 10px;
    }
    #lzy-editor-new-file-input {
        line-height: 1.8em;
        border: 1px solid #ddd;
        padding: 0 5px;
    }
}