/* === Edit-Data ========================== */

body {
    --lzy-data-label-width: 8em;
}

.lzy-editing .lzy-data-row {
	
	margin-bottom: 10px;
    input, 
    label {
		display: inline-block;
    }
    label {
        width: 7em;
    }
    input {
        padding: 0.4em 0.6em;
        border: 1px solid #eee;
    }
    button {
        height: 2em;
        width: 2em;
        padding: 0 0 0.15em 0;
        text-align: center;
    }
}
.lzy-data-input-box {
	width: calc(100% - 2.5em);
}
.lzy-data-input-rec-buttons {
	width: 2em;
}
.lzy-data-input-box,
.lzy-data-input-rec-buttons {
	display: inline-block;
	vertical-align: top;
}
.lzy-data-input-field {
	margin-left: 1em;
    label {
        width: 6em;
    }
    input {
        width: calc(100% - 9em);
    }
}
.lzy-data-input-form-buttons {
	margin: 0.5em 0;
}

.lzy-data-buttons-active {
    input[type=submit] {
	   background: #ccffcc;
    }
    input[type=reset] {
        background: #ffcccc;
    }
}
.lzy-data-input-form-buttons input,
.lzy-data-edit-button {
    padding: 0.3em 1em;
}

.lzy-data-show-index div.lzy-data-key.lzy-data-key {
    display: inline-block;
}


/* === Table View ============================= */
.lzy-data-table-view {
    .lzy-data-headers,
    .lzy-data-row {
        display: flex;
        grid-template-columns: repeat(3, 1fr);
    }
    .lzy-data-headers {
        margin-bottom: 10px;
        > div {
            display: inline-block;
        }
    }
    .lzy-data-key,
    .lzy-data-elem {
        label {
            display: none;
        }
    }
    .lzy-data-header,
    .lzy-data-key,
    .lzy-data-elem {
        display: inline-block;
        flex-grow: 1;
        width: 1%;
        padding: 1em;
    }
    .lzy-data-headers {
        font-weight: bold;
    }
}



/* === Record View ============================= */
.lzy-data-record-view {
    max-width: 40em;
        .lzy-data-headers {
        display: none;
    }
    .lzy-data-row {
        margin-bottom: 0.5em;
        max-width: calc(100% - 2em);
    }
    .lzy-data-row div {
        div, label {
            display: inline-block;
            padding: 0.5em 1em;
            vertical-align: top;
        }
    }
    .lzy-data-key label,
    .lzy-data-elem label {
        width: var(--lzy-data-label-width);
    }
    .lzy-data-key,
    .lzy-data-elem {
        div,
        input {
            width: calc(100% - var(--lzy-data-label-width) - 4px);
        }
    }
    &.lzy-data-show-index div.lzy-data-key {
        display: block;
    }
}





.lzy-data-row {
    position: relative;
}
.lzy-data-input-rec-buttons {
    position: absolute;
    top: 0;
    right: -2.5em;
}
.lzy-data-wrapper.lzy-editing {
    &.lzy-data-table-view {
        max-width: calc(100% - 2em);
        .lzy-data-elem {
            padding: 0;
            input {
                width: 100%;
                height: 100%;
                padding: 1em;
            }
        }
    }
}
div.lzy-data-key.lzy-data-key {
    display: none;
}
