/* Lizzy Basic CSS */

$dl-as-table-dt-width: 6em;
$box-width: 300px;
$grid-gap: 10px;

// adaptive columns:
$columns-number: 3;
$column-min-width: 10rem;
$columns-gap: 1rem;


/* === General =============================== */
body, main {
	position: relative;
}
body {
	min-height: 100vh;
}

html body, section {
	position: relative;
	padding: 0;
}
* {
	box-sizing: border-box;
}

p {
	padding: 0;
	margin: 0.2em 0 0.5em 0;
	line-height: 1.4em;
}
li {
	padding: 0;
	margin: 0.2em 0 0.2em 0;
	line-height: 1.4em;
}
li > p {
	margin: 0;
}

a {
	//text-decoration: underline dotted green;
	text-decoration: none;
	border-bottom: 1px dotted gray;
}
a:hover, a:focus {
	border-bottom: 1px solid gray;
	//text-decoration: underline solid red;
}
a:focus {
	box-shadow: 0 0 5px magenta;
}
nav a {
	border-bottom: none;
}
.no-underline,
figure a:hover,
figure a {
	text-decoration: none;
	border-bottom: none;    
}
.sup {
	 vertical-align: super;
	 font-size: 60%;
}

.lzy-right {
	float:right;
	margin: 0 0 1em 20px;
	max-width: 50%;
}
.lzy-left {
	float:left;
	margin: 0 20px 1em 0;
	max-width: 50%;
}
.lzy-left img {
	max-width: 100%;
}
.dispno,
.disp-no,
.disp_no {
	display: none!important;
}
.dispblock {
	display: block;
}
.sr-only,
.lzy-invisible,
.invisible,
.visually-hidden {
    visibility: hidden;
	position: absolute !important;
	right: 200vw;
	width: 1px;
	height: 1px;
	overflow: hidden;
	display: inline;
	clip: rect(1px, 1px, 1px, 1px);
}

// SkipLinks
.lzy-skiplinks a {
	position: absolute;
	top: 0;
	right: 100%;
}
.lzy-skiplinks a:focus {
	right: auto;
	left: 5vh;
	top: 5vh;
	padding: 1em 2em;
	text-align: center;
	z-index: 999;
	background: #fffaab;
	box-shadow: none;
	border: none;
}

// Page Switcher Links
.lzy-page-switcher-links a {
	position: absolute;
	top: 0;
	border-bottom: none;
	z-index: 100;
}
.lzy-prev-page-link a {
	left: 0;
}
.lzy-next-page-link a {
	right: 0;
}

// Footer depeding on small/large screen:
.lzy-large-screen {
	.lzy-small-screen-footer {
		display: none;
	}
}

.lzy-small-screen {
	.lzy-page-switcher-links a {
		font-size: var(--lzy-mobile-header-font-size, 8vw);
		color: #ddd;
		top: 0.5em;
	}
	.lzy-prev-page-link a {
		right: 1.2em;
		left: initial;
	}
	.lzy-large-screen-footer {
		display: none;
	}
	footer {
		margin-top: 0;
	}
}


//.footnote-ref {
//	font-size: 70%;
//	vertical-align: super;
//}
.tabulator_wrapper span.c1,
.tabulator_wrapper span.c2,
.tabulator_wrapper span.c3,
.tabulator_wrapper span.c4 {
	display: inline-block;
	line-height: 1.4em;
	vertical-align: top;
}
.tabulator_wrapper span:not(:last-child) {
	width: 6em;
}

.underline {
	text-decoration: underline;
}
.vgap {
	height: 0;
}
.inline-tabulator {
	display: inline-block;
	width: 6em;
}
.lzy-img {
	max-width: 100%;
	height: auto;
}

/* === Icons ============================== */
//.lzy-user-logged-in .lzy-footer {
.lzy-footer {
	.lzy-icon-edit,
	.lzy-icon-settings,
	.lzy-fileadmin-button,
	.lzy-icon-user {
		color: var(--lzy-system-buttons, gray);
	}
	.lzy-fileadmin-button {
		border: none;
		background: none;
		padding-left: 0;
		margin-left: -0.1em;
		margin-right: 0.5em;
	}
}


/* === Admin Config Overlay ==================== */
.lzy-config-form .lzy-button {
	padding: 0.3em 1.5em;
}

.lzy-config-elem {
	padding: 0.5em 0;
	input {
		display: inline-block;
		width: 5em;
		&[type=text]:focus {
			width: 10em;
		}
	}
	label {
		font-weight: bold;
	}
	.lzy-config-comment {
		margin-left: 8em;
		font-style: italic;
	}
}
.lzy-config-select {
	text-align: right;
}



/* === lzy-tables ============================== */
.lzy-table {
	border-collapse:collapse;
}


/* === Definition Lists in table layout ======== */
.lzy-dl-floating, .dl-floating,
.lzy-dl-flex, .dl-flex,
.lzy-dl-as-table, .dl-as-table {
	//--lzy-dl-as-table-dt-width: 6em;
	--inline-block: inline-block;
	--flex: flex;
}
.lzy-large-screen {
	.lzy-dl-as-table,
	.dl-as-table {
		dl {
			margin: 0;
		}

		dt, dd {
			display: var(--inline-block); // hack to get round IE
			vertical-align: top;
			margin: 0 0 0.5em 0;
		}

		dt {
			width: 16em;
			width: var(--lzy-dl-as-table-dt-width, $dl-as-table-dt-width);
		}

		dd {
			width: 70%;
			width: calc(100% - var(--lzy-dl-as-table-dt-width, #{$dl-as-table-dt-width}));
		}
	}
}

// variante floating -> less problem in conjunction with printing
.lzy-small-screen {
	.dl-as-table,
	.dl-floating {
		dt {
			font-weight: bold;
		}
	}
}

.lzy-large-screen {
	.dl-floating {
		--dt-width: 6em;

		dl {
			clear: left;
		}

		dt, dd {
			margin-bottom: 0.5em;
		}

		dt {
			width: 6em;
			width: var(--dt-width);
			float: left;
		}

		dd {
			vertical-align: top;
			margin-left: 0;
			padding-left: 6.1em;
			padding-left: var(--dt-width);
		}
	}
}

// variante using flex -> less problem in conjunction with other floating elements
.dl-flex dl {
	display: block;
	display: var(--flex);
	//display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	overflow: visible;
	dt {
		flex: 0 0 var(--lzy-dl-as-table-dt-width, $dl-as-table-dt-width);
		text-overflow: ellipsis;
		overflow: hidden;
	}
	dd {
		flex: 0 0 calc(100% - var(--lzy-dl-as-table-dt-width, #{$dl-as-table-dt-width}));
		margin-left: auto;
		text-align: left;
		text-overflow: ellipsis;
		overflow: hidden;
		padding-bottom: 1em;
		line-height: 1.25em;
	}
}



.lzy-h-space {
	display: inline-block;
	width: 2em;
}
.lzy-h-v-centered, .h-v-centered,
.lzy-v-h-centered, .v-h-centered {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* === Tables: */
.lzy-div-table-row {
	display: flex;
}

div.lzy-editable-hdr {
	width: 16em;
}

// === Module Encapsulation:
//  "#lzy .lzy-encapsulated" -> definition in file _lizzy/css/scss/@normalize.scss



/* stretch-wrapping boxes: */
.lzy-stretch-wrapping-box-container {
    //--lzy-box-width: 300px;
    //--lzy-grid-gap: 10px;
    display: grid;
    grid-gap: var(--lzy-grid-gap, $grid-gap);
    grid-template-columns: repeat(auto-fill, minmax(var(--lzy-box-width, $box-width), 1fr));
    grid-auto-flow: dense;
    padding: 5px;
    padding: var(--lzy-grid-gap, $grid-gap);
}

.lzy-stretch-wrapping-box-container > div {
    overflow: hidden;
}

.lzy-stretch-wrapping-box-container > div img {
    width: 100%;
    height: auto;
    margin-bottom:-5px;  /* ??? bug workaround? */
}


/* === adaptive columns ========== */
/* inspiration: http://www.heydonworks.com/article/the-flexbox-holy-albatross */

//body {		// parameters:
	//--lzy-columns-number: 3;
	//--lzy-column-min-width: 10rem;
	//--lzy-columns-gap: 1rem;
//}
.lzy-columns-container {
	--lzy-columns-min-width: calc(var(--lzy-columns-number, #{$columns-number}) * var(--lzy-column-min-width, #{$column-min-width}) - ((var(--lzy-columns-number, #{$columns-number}) - 1) * var(--lzy-columns-gap, #{$columns-gap})));
}
.lzy-2-columns-container {
	--lzy-columns-number: 2;
	--lzy-columns-min-width: calc(2 * var(--lzy-column-min-width, #{$column-min-width}) - var(--lzy-columns-gap, #{$columns-gap}));
}
.lzy-3-columns-container {
	--lzy-columns-number: 3;
	--lzy-columns-min-width: calc(3 * var(--lzy-column-min-width, #{$column-min-width}) - (2 * var(--lzy-columns-gap, #{$columns-gap})));
}
.lzy-4-columns-container {
	--lzy-columns-number: 4;
	--lzy-columns-min-width: calc(4 * var(--lzy-column-min-width, #{$column-min-width}) - (3 * var(--lzy-columns-gap, #{$columns-gap})));
}
.lzy-columns-container,
.lzy-2-columns-container,
.lzy-3-columns-container,
.lzy-4-columns-container {
	display: flex;
	flex-wrap: wrap;
	--lzy-columns-flipper: calc((var(--lzy-columns-min-width) - 100%) * 1000);
	margin: 5px;
	margin: calc(var(--lzy-columns-gap, #{$columns-gap}) * -0.5);
}
.lzy-columns-container > div,
.lzy-2-columns-container > div,
.lzy-3-columns-container > div,
.lzy-4-columns-container > div {
	box-sizing: border-box;
	max-width: 100%;
	min-width: calc((100% / var(--lzy-columns-number, #{$columns-number})) - var(--lzy-columns-gap, #{$columns-gap}));
	flex-grow: 1;
	flex-basis: var(--lzy-columns-flipper);
	margin: 5px;
	margin: calc(var(--lzy-columns-gap, #{$columns-gap}) * 0.5);
}




.lzy-logo a, .lzy-logo a:hover {
	border-bottom: none;
}
kbd {
	padding: 0 3px;
	background: #ddd;
	border-radius: 3px;
}
samp {
	padding: 0 3px;
	background: #efefff;
	border-radius: 3px;
}
var {
	padding: 2px 4px 0 4px;
	background: #555;
	color: #ffb;
	border-radius: 3px;
	font-weight: bold;
	font-style: normal;
}
pre {
	margin: 0;
}

.missing-img {
    border: 1px dashed magenta;
    padding: 2em;
}
.authors_directive_tag {
	display: inline-block;
	background: #fee;
	padding: 3px 6px;
	border: #aff;
	border-radius: 5px;
}



.login_message {
	color: red;
	margin: 5px 0;
}

.CodeMirror-code,
.editor-toolbar {
	font-size: 12pt;
}


.lzy-lang-selection {
    display: inline-block;
    margin-right: 0.33em;
}
.lzy-lang-elem {
    width: 1.5em;
    height: 1.5em;
	transform: translateY(0.25em);
    display: inline-block;
    margin:  0 3px;
}
.lzy-lang-selection > span a {
    border-bottom: none;
}
.lzy-lang-icon {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    opacity: 0.5;
}
.lzy-lang-selection:hover .lzy-lang-icon {
    opacity: 1;
}
.lzy-active-lang .lzy-lang-icon {
	border: 1px solid red;
}


//.login-form-icon {
//    height: 14pt;
//    /* width: 24px; */
//}
.lzy-login-form .lzy-form-show-password input {
    display: none;
}

.lzy-edit-icon {
    margin-top: 2px;
}

.lzy-footer {
    display: flex; 
    justify-content: space-between;
    padding: 0.5em 0;
    border-top: 1px solid #bbb;
    margin-top: 2em;
	a {
		border-bottom: none;
	}
	.lzy-icon {
		--lzy-icon-factor: 1.25;
		opacity: 0.6;
		&:hover {
			opacity: 1;
		}
	}
	.lzy-config-button,
	.lzy-toggle-edit-mode {
		padding-right: 10px;
	}
}


.debug-mail {
    border: 1px dashed yellow;
    background: #ffe;
    padding: 15px;
    margin-top: 30px;
}



.lzy-account-form-wrapper .lzy-delete-profile-popup {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 20em;
    height: 10em;
    background: #ffe2c4;
    border: 1px solid gray;
    border-radius: 10px;
    z-index: 999;
}

/* --- fade out effect --- */
@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
.MsgBox,
.WarningBox {
	position: fixed!important;
	top: 5px;
	right: 0;
	max-width: 80%;
	padding:0.5em 1em;
	background: #fbfb77;
	border-radius: 5px;
	opacity: 0.8;
	color: black;
    box-shadow: 0 0 5px grey;
	z-index: 99;
//	animation: slide 1s forwards;
	animation: slide 5s forwards;
    transform: translateX(100%);
}
.MsgBox:hover,
.WarningBox:hover {
	animation: unset;
}
@keyframes slide {
//  0% { transform: translateX(100%); }
  10% { transform: translateX(-3%); }
  90% { transform: translateX(-3%); }
  100% { transform: translateX(97%); }
//  10% { right: 5%; }
//  90% { right: 5%; }
//  100% { right: -0%; }
}

#lzy-log:empty {
  display: none;
}
#lzy-log {
	height: 10vh;
	background: #edd;
	margin: 20px 0 0 0;
	padding: 10px 20px;
	overflow: auto;
	border: 1px solid red;
	position: fixed;
	width: calc(100vw - 42px);
	left: 0;
	bottom: 0;
}
#lzy-log h1 {
	font-size: 11pt;
	margin: 0 0 0.5em 0;
}
#lzy-log p {
	font-size: 8pt;
	margin: 0 0 0.5em 0;
}
#lzy-log-placeholder {
	content: " ";
	position: relative;
	height: 11vh;
	margin: 30px 0 0 0;
}

.lzy-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100vw - 30px);
	height: calc(100vh - 20px);
	margin: 10px;
	padding: 20px;
	color: black;
	background: #eee;
	border: 1px solid red;
	box-shadow: 0 0 15px 5px #444;
	box-sizing: border-box;
	overflow: auto;
	z-index: 999;
}

.lzy-close-overlay {
    float: right;
    margin: -15px -15px 10px 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16pt;
    width: 2em;
    height: 2em;
}


/* --- DivTables --------------- */
.divtable {
	display: table;
	border-collapse: collapse;
}
.divtable .row {
	display:table-row;
	vertical-align: top;
}
.divtable .row > div {
	display: table-cell;
	min-width: 10em;
	height: 1.6em;
	line-height: 1.6em;
	border: 1px solid #bbb;
	padding: 5px 10px;
	margin: 0px;
}
.divtable .row > div.hdrCell {
	background: #ddd;
	font-weight: bold;
}

/* --- Checklists ---------------- */
.lzy-checklist {
    padding: 0;
}
.lzy-checklist li {
    list-style: none;
}
.lzy-checklist-input {
    margin-right: 0.5em;
}
.lzy-checklist {
    .lzy-checklist-elem > input,
    .lzy-checklist-elem > span {
        display: inline-block;
        vertical-align: middle;
    }
    .lzy-checklist-elem > input::before {
        vertical-align: top;
    }
    input[type=checkbox]:not([disabled]) {
      cursor: pointer;
    }
    input[type=checkbox]:checked::before {
      content: "\2713";
    }
    input[type=checkbox]::before {
      content: "\202A";
      background: #ffffff;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
      text-align: center;
      display: inline-block;
      width: 100%;
      height: 100%;
      border: 1px solid #cdcdcd;
      border-radius: 4px;
      text-indent: 1px;
    }
    input[type=checkbox]:focus::before {
        box-shadow: 0 0 5px 2px magenta;
    }
}


/* --- Misc --------------------- */
#debugInfo {
    border: 1px dashed lime;
    background: #efffef;
    color: gray;
    padding: 0 10px;
    margin-top: 4em;
    font-size: 10pt;
    font-family: monospace;
    overflow: auto;
}
#debugInfo > p {
    font-family: arial;
}
#debugInfo > .lzy-log {
    border: 0.1px solid #c3f1c3;
    margin-bottom: 1em;
    padding: 5px;
    white-space: pre;
    font-size: 80%;
    max-height: 10em;
    overflow:auto;
}

.mark-undefined-variable {
    background: #ffb;
}
mark {
    padding: 0 3px;
}
.lzy-album-error {
    background: #fee;
    border: 1px solid red;
    padding: 1em 2em;
}
.lzy-config-viewer dt strong {
    color: navy;
}
.lzy-config-viewer dt code {
    color: black;
}
.lzy-config-viewer-hl,
.lzy-config-viewer dt code.lzy-config-viewer-hl {
    color: red;
}
.lzy-config-viewer dd {
	margin-bottom: 1em;
}


/* --- Nav --------------- */
nav ul {
    padding: 0;
}
nav li {
    list-style-type: none;
}



/* === Lzy-Buttons ========================= */
#lzy .lzy-encapsulated .lzy-button,
.lzy-button {
	color: #666;
	font-family: helvetica, arial, sans-serif;
	border-radius: 4px;
	border: 1px solid #bcbcbc;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12);
	background: -webkit-linear-gradient(#FFF 0%,#EFEFEF 60%,#E1DFE2 100%);
	background: -ms-linear-gradient(#FFF 0%,#EFEFEF 60%,#E1DFE2 100%);
	background: linear-gradient(#FFF 0%,#EFEFEF 60%,#E1DFE2 100%);
	padding: 0.3em 1.5em;
	cursor: pointer;
}
.lzy-button a:visited,
a.lzy-button:visited,
.lzy-button a,
a.lzy-button {
	border-bottom: none;
	color: black;
}
#lzy .lzy-encapsulated {
	.lzy-button a:visited,
	a.lzy-button:visited,
	.lzy-button a,
	a.lzy-button {
		border-bottom: none;
		color: black;
	}
}

.lzy-mobile-page-header {
	display: none;
}


/* === Links =========================================== */
.lzy-link {
	position: relative;
	padding-left: 1.4em;
}
.lzy-link:before {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	font-family: 'Lzy Icons';
	font-style: normal;
	font-weight: normal;
	font-size: 110%;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.lzy-mail_link:before {
	content:'Z';
}
.lzy-sms_link:before {
	content:'L';
}
.lzy-tel_link:before {
	content:'I';
}
.lzy-gsm_link:before {
	content:'t';
}
.lzy-pdf_link:before {
	content:'r';
}
.lzy-geo_link:before {
	content:'J';
}
.lzy-slack_link:before {
	content:'q';
	font-size: 90%;
}
.lzy-newwin_link,
.lzy-external_link {
	padding-left: 1.2em;
}
.lzy-newwin_link:before,
.lzy-external_link:before {
	content:'X';
	font-size: 90%;
	top: 0.18em;
}



/* === Media Queries =================================== */
@media screen {
	.print_only,
	.print-only {
		display: none;
	}


	.lzy-img-link {
		background: none;
		padding-left: 0;
	}

}



/* === Printing Support ============================== */
body.lzy-print-preview {
	background: #eee;
	.pagedjs_pages {
		width: var(--pagedjs-pagebox-width);
		margin: 60px auto;
	}

	.pagedjs_sheet {
		background: #fff;
		margin: 5mm 0;
		box-shadow: 0 0 5px 3px #bbb;
	}
}
.pagedjs_pages .page {
	margin: 0;
	padding: 0;
}
dd {
	page-break-before: avoid;
}
.lzy-print-btns {
	position: absolute;
	top: -40px; left: 0;
}
.lzy-print-btns > a {
	background: linear-gradient(#fff 0%,#fffbe0 60%,#fff7c2 100%);
	font-size: 12pt;
	padding: 0.7em 1.5em;
	margin: 1em 0 0 1em;
	box-shadow: 0 0 5px 1px gray;
	cursor: pointer;
	border-bottom: none; /* for <a> */
}
@page {
	size: A4;
}

@media print {
	header,
	footer,
	nav,
	.dont-print,
    .print_no,
    .print-no,
	#lzy-log,
	.Warning,
	.MsgBox,
    #debugInfo,
    .debugInfo,
	.lzy-file-uploader-wrapper {
		display: none!important;
	}
	.lzy-print-page-break,
	.print-page-break {
		page-break-after: always;
	}
}
@media screen {
	.print-only {
		display: none!important;
	}
}



/* === Login Link ========================= */
.lzy-login-link-menu {
    position: relative;
    clear: both;
	display: inline-block;
}
.lzy-login-link-menu div {
    display: block;
    clear: both;
    float: none;
}
.lzy-login-menu {
    width: 14em;
    clear: both;
    position: absolute;
    top: 2em;
    right: 0;
    background: #ddd;
    padding: 1em;
    text-align: left;
}


.lzy-loading-spinner {
    width: 24px;
    height: 24px;
}

/* === Unite Gallery ==================*/
/* bug workaround */
.lzy-gallery.ug-gallery-wrapper {
	height: unset !important;
}
.ug-tiles-preloader {
	display: none !important;
}
