/* === Styles for Lizzy Forms ========================== */


/* === Parametrization Arguments ======================= */
.lzy-form {
  --form-width: 30em;
  --label-width: 6em;
  max-width: var(--form-width);
}



/* === Small Screen ==================================== */
#lzy.small-screen {
  .lzy-form-field-wrapper {
    margin-bottom: 0.7em;
    label {
      margin: 0.7em 0 0.3em;
    }
    label.lzy-form-pw-toggle {
      margin: 0;
    }
  }
  textarea,
  input {
    display: block;
    width: 100%;
    height: 2.5em;
  }
  // radio & checkbox:
  .lzy-form-choice-elem {
    input {
      height: 1.3em;
      width: 1.3em;
      display: block;
      margin-right: 0.7em;
      float: left;
      font-size: 1.3em;
    }
    label {
      display: block;
      //height: 1.3em;
      line-height: 1.8em;

    }
  }
  .lzy-horizontal {
    .lzy-form-choice-elem {
      input {
        display: inline-block;
        float: none;
      }

      label {
        display: inline-block;
        margin: 0 2em 0 0;
      }
    }
  }

  // password
  .lzy-form-field-type-password {
    input,
    .lzy-form-pw-toggle,
    .lzy-form-pw-toggle img {
      display: inline-block;
    }

    .lzy-form-pw-toggle,
    .lzy-form-pw-toggle img {
      max-width: 1.6em;
      height: auto;
    }

    input {
      width: calc(100% - 2em - 10px);
    }
  } // password


  // buttons
  .lzy-form-field-type-button {
    --box-width: 7em;
    --grid-gap: 10px;
    display: grid;
    grid-gap: var(--grid-gap);
    grid-template-columns: repeat(auto-fill, minmax(var(--box-width), 1fr));
    grid-auto-flow: dense;
  }

  .lzy-form-field-type-button > input {
    overflow: hidden;
  }

  // select
  .lzy-form-field-wrapper.lzy-form-field-type-dropdown {
    label {
      width: 100%;
      display: block;
    }
    select {
    }
  }

} // small-screen



// radio / checkbox
.lzy-form-field-type-choice {
  legend {
    line-height: 1.8em;
  }
  input {
    height: 1.3em;
    width: 1.3em;
    display: block;
    margin-right: 0.7em;
    float: left;
    font-size: 1.3em;
  }
  label {
    display: block;
    //height: 1.3em;
    line-height: 1.8em;

  }
}



// select
.lzy-form-field-type-dropdown {
  label {
    width: 100%;
    display: block;
  }
  select {
    border: 1px solid gray;
    min-width: 7em;
  }
}


//----------------------
//#lzy.small-screen label,
//#lzy.small-screen textarea,
//#lzy.small-screen input {
//	display: block;
//	width: 100%;
//}
//#lzy.small-screen .lzy-form-field-type-password input,
//#lzy.small-screen .lzy-form-field-type-password .lzy-form-pw-toggle,
//#lzy.small-screen .lzy-form-field-type-password .lzy-form-pw-toggle img {
//	display: inline-block;
//}
//#lzy.small-screen .lzy-form-field-type-password .lzy-form-pw-toggle,
//#lzy.small-screen .lzy-form-field-type-password .lzy-form-pw-toggle img {
//	max-width: 1.6em;
//	height: auto;
//}
//#lzy.small-screen .lzy-form-field-type-password input {
//	width: calc(100% - 2em - 10px);
//}
//#lzy.small-screen textarea,
//#lzy.small-screen input {
//	height: 2em;
//}
.lzy-form-field-wrapper {
    min-height: 2em;
    vertical-align: middle;
}
.lzy-form-field-wrapper label {
    width: var(--label-width);
    display: inline-block;
}
.lzy-form-field-wrapper textarea,
.lzy-form-field-wrapper input {
    border: 1px solid #ddd;
}
.lzy-form-field-wrapper input {
    width: calc(100% - var(--label-width) - 5px);
    padding: 0.2em 0.4em;
    display: inline-block;
    box-sizing: border-box;
}
.lzy-form-field-wrapper.lzy-form-field-type-password input {
    width: calc(100% - var(--label-width) - 2em - 10px);
}
.lzy-form-field-wrapper.lzy-form-field-type-password .lzy-form-pw-toggle {
    width: 2em;
}

.lzy-form-login-form-icon {
    max-height: 1.2em;
}
.lzy-form-pw-toggle {
    width: 2em;
}
.lzy-form-password-hint {
    display: none;
}

.lzy-form-showPassword {
    position: absolute;
    left: -1000vw;
}

.lzy-form-field-type-button {
    text-align: right;
}

.lzy-form-required-marker {
	color: red;
}

/* === Radio and Checkbox === */
.lzy-form-field-wrapper .lzy-form-choice-elem {
    display: block;
    height: 1.8em;
}
.lzy-form-field-wrapper .lzy-form-choice-elem * {
    vertical-align: top;
}
.lzy-form-field-type-checkbox input,
.lzy-form-field-type-radio input {
    width: 1.5em;
}
.lzy-form-field-type-checkbox legend,
.lzy-form-field-type-radio legend {
    display: block;
    margin: 1em 0 0.5em;
}
.lzy-form-field-type-checkbox label,
.lzy-form-field-type-radio label {
    display: inline-block;
    width: calc(100% - 1.6em);
}
fieldset.lzy-form-radio-label,
fieldset.lzy-form-checkbox-label {
    border: none;
    margin: 0;
    padding: 0;
}

/* horizontal variant */
.lzy-horizontal.lzy-form-field-type-checkbox legend, 
.lzy-horizontal.lzy-form-field-type-radio legend {
    display: inline-block;
    width: var(--label-width);
    float: left;
    margin: 0;
}
.lzy-horizontal fieldset.lzy-form-radio-label, fieldset.lzy-form-checkbox-label {
    margin-bottom: 0;
}

.lzy-horizontal.lzy-form-field-type-checkbox .lzy-form-choice-elem,
.lzy-horizontal.lzy-form-field-type-radio .lzy-form-choice-elem {
    display: inline-block;
    white-space: nowrap;
}
.lzy-horizontal.lzy-form-field-type-checkbox label,
.lzy-horizontal.lzy-form-field-type-radio label {
    margin-right: 2em;
}


/* === Text Area === */
.lzy-form-field-type-textarea label {
    display: block;
    margin: 1em 0 0.3em;
    width: 100%;
}
.lzy-form-field-type-textarea textarea {
    display: block;
    margin: 0 0 0.5em;
    width: 100%;
    height: 5em;
    box-sizing: border-box;
    padding: 0.2em 0.4em;
}

/* horizontal variant */
.lzy-horizontal.lzy-form-field-type-textarea * {
    vertical-align: top;
}
.lzy-horizontal.lzy-form-field-type-textarea label {
    display: inline-block;
    margin: 0;
    width: var(--label-width);
}
.lzy-horizontal.lzy-form-field-type-textarea textarea {
    display: inline-block;
    margin: 0 0 0.5em;
    width: calc(100% - var(--label-width) - 5px);
    height: 5em;
}

.lzy-form option {
    background: yellow;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align: right;
  opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
  text-align: right;
  opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
  text-align: right;
  opacity: 0.5;
}
:-moz-placeholder { /* Firefox 18- */
  text-align: right;
  opacity: 0.5;
}
::placeholder { /* generic */
  text-align: right;
  opacity: 0.5;
}
.lzy-form-field-wrapper.lzy-form-field-type-button input.lzy-form-form-button,
.lzy-form-field-wrapper.lzy-form-field-type-button button.lzy-form-form-button {
	width: 7em;
	height: 2em;
}
.lzy-form-field-wrapper * {
    vertical-align: middle;
}


/* file upload */
.lzy-form-file-upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    color: rgba(0,0,0,0);
    padding: 0;
    margin: 0;
    height: 100%;
    overflow:  hidden;
}
.lzy-form-file-upload::before {
    content: " ";
    position: absolute;
    top:0;right:0;bottom: 0; left: 0;
    background: white;
}
.lzy-form-file-upload-label {
    position: relative;
    width:  initial;
    padding: 5px 15px;
    cursor:  pointer;
}
.lzy-form-progress-indicator {
	width: 20em;
}
.lzy-form-progress-indicator progress {
	width: calc(100% - 3em);
	margin-top: 0.2em;
}
.lzy-form-progress-indicator progress:not([value]) {
    background: yellow;
}
.lzy-form-progress-indicator > div {
	float: right;
}

.lzy-form-uploaded {
	margin-top: 1em;
}
.lzy-form-uploaded li span {
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px 0 0;
}

.lzy-form-response {
    margin: 1em 0;
    border: 1px dashed red;
    padding: 1em;
}
