/**
*
*     Styles for Lizzy Forms
*
**/


// variables and default values:
$form-width: 30em;      // --lzy-form-width
$label-width: 6em;      // --lzy-label-width
$form-box-width: 7em;   // --lzy-form-box-width
$form-grid-gap: 10px;   // --lzy-form-grid-gap


/* === Parametrization Arguments ======================= */
.lzy-form {
    max-width: var(--lzy-form-width, $form-width);
}




#lzy .lzy-form.lzy-encapsulated,
.lzy-form {

    /* === Dropdown / select ================== */
    .lzy-form-field-type-dropdown {
        select {
            border: 1px solid gray;
            min-width: 10em;
            height: 1.8em;
        }
        label {
            padding-bottom: 0.4em;
        }
    }
    .lzy-form-field-type-dropdown.lzy-horizontal {
        select {
            display: inline-block;
        }
        label {
            padding-top: 0.3em;
        }
    }



    /* === form-field-wrapper ========================== */
    .lzy-form-field-wrapper {
        min-height: 2.5em;
        vertical-align: middle;
        padding: 0 0 1em 0;

        * {
            box-sizing: border-box;
            vertical-align: middle;
        }
    }

    /* === Generic =================================== */
    textarea,
    input {
        border: 1px solid #ddd;
    }
    input {
        line-height: 2em;
    }

    label {
        width: 7em;
        width: var(--lzy-label-width, $label-width);
        display: inline-block;
    }

    input {
        width: 16em;
        width: calc(100% - var(--lzy-label-width, #{$label-width}));
        padding: 0.2em 0.4em;
        display: inline-block;
    }

    /* === Placeholders =================================== */
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        text-align: right;
        opacity: 0.5;
    }

    ::-moz-placeholder { /* Firefox 19+ */
        text-align: right;
        opacity: 0.5;
    }

    :-ms-input-placeholder { /* IE 10+ */
        text-align: right;
        opacity: 0.5;
    }

    :-moz-placeholder { /* Firefox 18- */
        text-align: right;
        opacity: 0.5;
    }

    ::placeholder { /* generic */
        text-align: right;
        opacity: 0.5;
    }


    /* === Password ================================ */
    .lzy-form-field-type-password {
        input {
            width: calc(100% - var(--lzy-label-width, #{$label-width}) - 2em - 10px);
        }

        .lzy-form-pw-toggle {
            img {
                width: 2em;
            }
            width: 2em;
            input {
                position: absolute;
                left: -1000vw;
            }
        }
    }


    /* === Text Area === */
    .lzy-form-field-type-textarea {
        label {
            display: block;
            margin: 1em 0 0.3em;
            width: 100%;
        }

        textarea {
            display: block;
            margin: 0 0 0.5em;
            width: 100%;
            height: 5em;
            box-sizing: border-box;
            padding: 0.2em 0.4em;
        }
    }
    // horizontal variant
    .lzy-horizontal.lzy-form-field-type-textarea {
        * {
            vertical-align: top;
        }

        label {
            display: inline-block;
            margin: 0;
            width: var(--lzy-label-width, $label-width);
        }

        textarea {
            display: inline-block;
            margin: 0 0 0.5em;
            width: calc(100% - var(--lzy-label-width, #{$label-width}));
            height: 5em;
        }

    }


    /* === Buttons =============================== */
    .lzy-form-field-type-buttons {
        text-align: right;
    }
    .lzy-form-form-button {
        width: 7em;
        min-height: 2em;
    }


    /* === fieldset ============================= */
    .lzy-form-field-type-choice {
        fieldset {
            border: none;
            margin: 0;
            padding: 0;
            width: 100%;

            > * {
                vertical-align: top;
            }
        }
        .lzy-legend {
            display: block;
            margin: 0 0 0.5em;
        }
    }

    /* === Upload ================================= */
    .lzy-form-file-upload-hidden {
        position: absolute;
        right:100vw;
        height: 1px;
        width: 1px;
        overflow: hidden;
    }
    .lzy-form-file-upload-label {
        padding: 0.5em 1em;
        width: unset;
        border: 1px solid #bcbcbc;
    }

    .lzy-upload-label.lzy-upload-label {
        display: inline-block;
        padding: 0.5em 1.5em;
        margin: 0.5em 0;
    }
    .lzy-form-uploaded.lzy-form-uploaded {
        margin: 1em 0;
        span {
            display: inline-block;
            vertial-align: middle;
            &:first-child {
                width: 12em;
            }
        }
    }
    .lzy-form-progress-indicator.lzy-form-progress-indicator {
        margin: 1em 0;
    }
    .lzy-upload-input-hidden.lzy-upload-input-hidden {
        position:  absolute;
        right: 100vw;
    }
    .lzy-form-progress-indicator.lzy-form-progress-indicator * {
        display: inline-block;
        //margin-right: 1em;
    }
    .lzy-form-progressPercent.lzy-form-progressPercent {
        padding-left: 0.5em;
    }
    .lzy-upload-wrapper,
    .lzy-form-uploaded {
        display: inline-block;
        margin: 0;
        vertical-align: top;
        @at-root #lzy#lzy .lzy-form-uploaded {
            margin-top: 0;
        }
    }
    &.lzy-upload-form {
        --lzy-form-width: 50em;
        .lzy-form-uploaded {
            width: 20em;
        }
        .lzy-upload-wrapper {
            width: 14em;
        }
        .lzy-form-uploaded li {
            padding-bottom: 1px;
        }
    }


    /* === choice elements (radio/checkbox) ====== */
    .lzy-form-field-type-choice {
        padding-bottom: 0.6em;
        * {
            margin: 0;
            padding: 0;
            box-sizing: content-box;
        }
        .lzy-form-choice-elem {
            > * {
                vertical-align: top;
                line-height: 1.2em;
            }
            margin-bottom: 0.3em;
        }
        label {
            display: inline-block;
            cursor: pointer;
            padding: 0;
            width: calc(100% - 2em - 6px);
        }
        input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            display: inline-block;
            position: relative;
            background-color: #f1f1f1;
            color: #666;
            font-size: inherit;
            height: 1em;
            width: 1em;
            border: 0;
            box-shadow: inset 0 0 0 1px #bbb;
            cursor: pointer;
            margin-top: -1px;
            margin-right: 0.65em;
            outline: none;
        }

        input:checked::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 1em;
            height: 1em;
            text-align: center;
            line-height: 1em;
            font-size: 90%;
            left: 0.05em;
            margin: 0;
            content: '\02143';
            transform: rotate(40deg);
        }
        input:checked {
            background-color: #eafec5;
        }
        input:hover {
            background-color: #f9ffef;
        }
    }
    .lzy-form-field-type-radio input {
        border-radius: 50%;
    }

    .lzy-form-field-type-checkbox input {
        border-radius: 15%;
    }



    /* === choice elements - horizontal ========== */
    .lzy-horizontal.lzy-form-field-type-choice {
        fieldset > * {
            display: inline-block;
        }

        .lzy-legend {
            width: 7em;
            width: var(--lzy-label-width, $label-width);
            margin: 0 6px 0 0;
            line-height: 1.2em;
        }
    }


    /* === choice elements - large widgets ====== */
    .lzy-form-field-type-choice.lzy-horizontal.lzy-large-widget .lzy-legend {
        padding-top: 0.4em;
    }
    .lzy-form-field-type-choice.lzy-large-widget {
        label {
            padding-top: 0.4em;
            width: calc(100% - 3em - 6px);
        }
        input {
            height: 1.8em;
            width: 1.8em;
            margin-right: 0.8em;
        }
        input:checked::before {
            font-size: 133%;
            left: 0.2em;
            top: 0.1em;
        }
    }



    /* === horizontal ============================ */
    .lzy-horizontal {
        .lzy-legend,
        .lzy-fieldset-body,
        .lzy-form-choice-elem {
            display: inline-block;
        }
        .lzy-fieldset-body {
            width: calc(100% - var(--lzy-label-width, #{$label-width}) - 16px);
        }
        .lzy-form-choice-elem label,
        :not(.lzy-small-screen-vertical) .lzy-form-choice-elem label {
            width: inherit;
            margin-right: 2em;
        }
    }
    .lzy-horizontal:not(.lzy-small-screen-vertical) .lzy-form-choice-elem {
        display: inline-block;
    }

} // lzy-form


#lzy .lzy-form {
    .lzy-form-error-msg {
        border: 1px solid red;
        padding: 3px 0.5em;
        color: red;
    }
    .lzy-form-error input {
        //background: #fffefe;
        box-shadow: inset 0 0 3px red;
    }
}


/* === Small Screen ==================================== */
#lzy.lzy-small-screen .lzy-form.lzy-encapsulated,
.lzy-small-screen .lzy-form {
    .lzy-form-field-wrapper {
        font-size: 14pt;

        label {
            margin: 0 0 0.2em;
        }

        label.lzy-form-pw-toggle {
            margin: 0;
        }

        textarea,
        input {
            display: block;
            width: 100%;
        }
    }


    // password
    .lzy-s1 .lzy-form-field-type-password {
        input,
        .lzy-form-pw-toggle,
        .lzy-form-pw-toggle img {
            display: inline-block;
        }

        .lzy-form-pw-toggle,
        .lzy-form-pw-toggle img {
            max-width: 1.6em;
            height: auto;
        }

        input {
            width: calc(100% - 2em - 10px);
        }
    }


    // buttons
    .lzy-form-field-type-buttons {
        display: grid;
        grid-gap: var(--lzy-form-grid-gap, $form-grid-gap);
        grid-template-columns: repeat(auto-fill, minmax(var(--lzy-form-box-width, $form-box-width), 1fr));
        grid-auto-flow: dense;
    }

    .lzy-form-field-type-buttons > input {
        overflow: hidden;
    }

    // select
    .lzy-form-field-wrapper.lzy-form-field-type-dropdown {
        label {
            width: 100%;
            display: block;
        }
    }


    // choice (radio / checkbox)
    .lzy-form-field-type-choice {
        .lzy-legend {
            margin-bottom: 1em;
        }
        input {
            height: 2.4em;
            width: 2.4em;
            margin-top: -1px;
            margin-right: 0.8em;
            display: inline-block;
        }

        input:checked::before {
            font-size: 133%;
            left: 0.4em;
            top: 0.25em;
        }

        label {
            padding: 0.6em 0 0.6em;
            width: calc(100% - 3em - 6px);
            display: inline-block;
        }
    }
    .lzy-form-field-type-choice.lzy-horizontal {
        .lzy-legend {
            padding-top: 0.6em;
        }
    }

    .lzy-form-field-type-choice.lzy-small-screen-vertical {
        .lzy-legend {
            padding-top: 0;
        }
        .lzy-legend,
        .lzy-fieldset-body,
        .lzy-form-choice-elem {
            display: block;
        }
    }
} // .lzy-small-screen


.lzy-localhost-response {
    background: #eee;
    border: 1px solid gray;
    padding: 20px 20px 0 20px;
    margin-top: 2em;
}