/***************************
Styles for macro nav()
****************************/

body {
    // generic:
    --lzy-nav-txt-size: 14pt;
    --lzy-nav-txt-color: inherit;
    //--lzy-nav-bg-color: white;
    //--lzy-nav-elem-bg-color: #eee;
    --lzy-nav-elem-bg-hover-color: #e4faff;
    //--lzy-nav-curr-elem-bg-color: #eee;
    //--lzy-nav-curr-elem-border-color: #888;
    //--lzy-nav-focus-color: inherit;
    //--lzy-arrow-size: 2em;
    --lzy-nav-line-height: 1.2em;
    --lzy-nav-elem-height: 2em;
    --lzy-nav-sub-width: 10em;
    --lzy-nav-sub-bg-color: #fff;

    // lzy-nav-top-horizontal:
    --lzy-nav-top-horizontal-col-gap: 10px;
    --lzy-nav-top-horizontal-padding: 0.5em;
    //--lzy-nav-top-horizontal-height: var(--lzy-nav-elem-height);
    --lzy-nav-top-horizontal-first-indent: 1.25em;
    --lzy-nav-top-horizontal-indent-step: 1.5em;
    --lzy-nav-top-horizontal-arrow-offset: -1.4em;
    --lzy-nav-top-horizontal-sub-bg-color: white;


    // lzy-nav-accordion:
    --lzy-nav-accordion-first-indent: 24px;
    --lzy-nav-accordion-step: 30px;
    --lzy-nav-accordion-elem-height: var(--lzy-nav-elem-height);
    --lzy-nav-accordion-trans-speed: 0.2s;
    --lzy-nav-accordion-arrow-offset: -1.5em;

    // lzy-nav-indented-no-arrow:
    --lzy-nav-first-indent: 0em;
    --lzy-nav-indent-step: 1.2em;

    // mobile header:
    --lzy-mobile-header-font-size: 8vw;
    --lzy-mobile-header-height: 16vw; //3em;
    --lzy-mobile-header-txt-color: #ddd;
    --lzy-mobile-header-bg-color: #444;
    --lzy-mobile-bg-color: #fff;

    --lzy-smallscreen-txt-color: #fff;
    --lzy-smallscreen-bg-color: #555;
    
    // small screen footer
    --lzy-mobile-footer-txt-color: #fff;
    --lzy-mobile-footer-bg-color: #555;

    --lzy-footer-txt-color: #555;
    --lzy-mobile-footer-height: 3em;
}



$accordionX1: var(--lzy-nav-accordion-first-indent);
$accordionX2: calc(var(--lzy-nav-accordion-first-indent) + var(--lzy-nav-accordion-step));
$accordionX3: calc(var(--lzy-nav-accordion-first-indent) + 2 * var(--lzy-nav-accordion-step));
$accordionX4: calc(var(--lzy-nav-accordion-first-indent) + 3 * var(--lzy-nav-accordion-step));
$accordionX5: calc(var(--lzy-nav-accordion-first-indent) + 4 * var(--lzy-nav-accordion-step));

$slidedownX1: var(--lzy-nav-top-horizontal-first-indent);
$slidedownX2: var(--lzy-nav-top-horizontal-first-indent);
$slidedownX3: calc(var(--lzy-nav-top-horizontal-first-indent) + var(--lzy-nav-top-horizontal-indent-step));
$slidedownX4: calc(var(--lzy-nav-top-horizontal-first-indent) + 2 * var(--lzy-nav-top-horizontal-indent-step));
$slidedownX5: calc(var(--lzy-nav-top-horizontal-first-indent) + 3 * var(--lzy-nav-top-horizontal-indent-step));

$xCorr: 1.55em;


// === Generic Nav ===================
#lzy .lzy-nav-wrapper {
    .lzy-nav-menu-button {
        display: none;
    }
}

#lzy .lzy-nav {
    ol, li, a {
        display: block;
        padding: 0;
        margin: 0;
    }
    label,
    a {
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--lzy-nav-txt-color);
        font-size: var(--lzy-nav-txt-size);
        line-height: var(--lzy-nav-line-height);
        padding-top: calc( (var(--lzy-nav-elem-height) - 1.2em) / 2);
        padding-bottom: calc( (var(--lzy-nav-elem-height) - 1.2em) / 2);
    }
    :focus,
    a:hover,
    label:hover {
        border-bottom: none;
    }
    .lzy-nav-arrow,
    label {
        display: none;
        user-select: none;
    }
    .lzy-nav-arrow {
        padding: 0 0.5em;
        cursor: s-resize;
        opacity: 0;
        transform-origin: 50% 50%;
    }

    .lzy-nav-no-content {
        > a {
            display: none;
        }
        > label {
            display: block;
        }
    }

    li.lzy-has-children > div {
        overflow: hidden;
    }

    input {
        display: none;
        position: absolute;
        left: -1000vw;
    }
} // generic .lzy-nav



// collapsed:
#lzy .lzy-nav {
    &.lzy-nav-top-horizontal:not(.lzy-nav-collapsed) {
        .lzy-lvl2 ol {
            margin-top: 0 !important;
        }

        li.lzy-has-children > input:checked + div > ol { // open next level
            margin-top: 0 !important;
        }
    }

    &.lzy-nav-collapsed {
        .lzy-nav-arrow {
            display: inline-block;
            opacity: 1;
        }
    }
}



// open
.lzy-nav.lzy-nav-collapsed li.lzy-has-children.open > div > ol {
    margin-top: 0 !important;
}



// hover
#lzy .lzy-nav-hoveropen {
    .lzy-hover > div > ol {
        margin-top: 0 !important;
    }
    &.lzy-nav-animation-active {
        :not(:hover) > div > ol { // closing delay
            transition-delay: 0.4s;
        }
    }
}



// indentation:
#lzy .lzy-nav-indented { // no-arrow indentation:
    .lzy-nav-arrow {
        display: inline-block;
    }
    .lzy-lvl1 {
          > label,
          > a {
            padding-left: calc(var(--lzy-nav-first-indent) + #{$xCorr});
          }
          &.lzy-has-children > label,
          &.lzy-has-children > a {
            padding-left: var(--lzy-nav-first-indent);
          }
    }
    .lzy-lvl2 {
          > label,
          > a {
            padding-left: calc(var(--lzy-nav-first-indent) + var(--lzy-nav-indent-step) + #{$xCorr});
          }
          &.lzy-has-children > label,
          &.lzy-has-children > a {
            padding-left: calc(var(--lzy-nav-first-indent) + var(--lzy-nav-indent-step));
          }
    }
    .lzy-lvl3 {
          > label,
          > a {
            padding-left: calc(var(--lzy-nav-first-indent) + 2 * var(--lzy-nav-indent-step) + #{$xCorr});
          }
          &.lzy-has-children > label,
          &.lzy-has-children > a {
            padding-left: calc(var(--lzy-nav-first-indent) + 2 * var(--lzy-nav-indent-step));
          }
    }
    .lzy-lvl4 {
          > label,
          > a {
            padding-left: calc(var(--lzy-nav-first-indent) + 3 * var(--lzy-nav-indent-step) + #{$xCorr});
          }
          &.lzy-has-children > label,
          &.lzy-has-children > a {
            padding-left: calc(var(--lzy-nav-first-indent) + 3 * var(--lzy-nav-indent-step));
          }
    }
    .lzy-lvl5 {
          > label,
          > a {
            padding-left: calc(var(--lzy-nav-first-indent) + 4 * var(--lzy-nav-indent-step) + #{$xCorr});
          }
          &.lzy-has-children > label,
          &.lzy-has-children > a {
            padding-left: calc(var(--lzy-nav-first-indent) + 4 * var(--lzy-nav-indent-step));
          }
    }
} // indentation



// animation:
#lzy .lzy-nav-animation-active {
    li.lzy-has-children {
        > div > ol {
            transition: margin-top var(--lzy-nav-accordion-trans-speed);
        }
        > input:checked + div > ol {
            transition: margin-top var(--lzy-nav-accordion-trans-speed);
        }
    }
    &:not(.lzy-nav-top-horizontal) {
        .lzy-has-children > * > .lzy-nav-arrow {
            transition: transform var(--lzy-nav-accordion-trans-speed);
            transform: rotate(0deg);
        }

        .lzy-has-children.open > * > .lzy-nav-arrow {
            transition: transform var(--lzy-nav-accordion-trans-speed);
            transform: rotate(90deg);
        }
    }
} // animated



// coloring:
#lzy .lzy-nav-colored {
    // generic:
    a:visited,
    a {
        color: var(--lzy-nav-txt-color);
    }
    &.lzy-nav-colored {
        a:hover,
        a:focus,
        label:hover,
        label:focus {
            background: var(--lzy-nav-elem-bg-hover-color);
        }
    }
    a:focus {
        box-shadow: inset 0 0 4px var(--lzy-nav-focus-color);
    }
    li.curr {
        > a,
        > label {
            background: var(--lzy-nav-curr-elem-bg-color);
            box-shadow: inset 0 0 1px var(--lzy-nav-curr-elem-border-color);
        }
    }
    > ol {
        background: var(--lzy-nav-bg-color);
    }

    // level dependent:
    .lzy-lvl1 {
        > a,
        > label {
            background: var(--lzy-nav-elem-bg-color);
        }
        &.active.active {
            > a,
            > label {
                background: var(--lzy-nav-curr-elem-bg-color);
            }
        }
    }
    .lzy-lvl2 a {
        background: var(--lzy-nav-sub-bg-color);
    }

    &:not(.lzy-nav-top-horizontal) {
        label, a {
            border-left: 3px solid transparent;
        }
        a:hover {
            border-left: 3px solid orange;
        }
        &.curr > a,
        .curr > a {
            border-left: 3px solid red;
        }
    }
    &.lzy-nav-top-horizontal .lzy-lvl1.active.active {
        > a,
        > label {
            box-shadow: inset 0 0 1px var(--lzy-nav-curr-elem-border-color);
        }
    }
} // lzy-nav-colored



// --- dark color theme:
#lzy .lzy-nav-dark-theme {
    a:visited,
    a,
    label {
        background: #3b4c54;
        color: #edfff2;
    }

    // highlighting current elem and its parents and focused:
    &.lzy-nav-dark-theme {
        a:hover,
        a:focus,
        label:hover,
        label:focus {
            background: #2b2b2b;
            color: #eee;
        }
    }
    a:focus {
        box-shadow: inset 0 0 4px var(--lzy-nav-focus-color);
    }
    &.lzy-nav-top-horizontal .lzy-lvl1.active {
        > a,
        > label {
            color: #ffeb99;
        }
    }
    li.curr {
        > a,
        > label {
            color: #ffeb99;
        }
    }
    > ol {
        background: var(--lzy-nav-bg-color);
    }

    // level dependent:
    .lzy-lvl1 {
        > div {
            margin-top: 1px;
        }
    }

    &:not(.lzy-nav-top-horizontal) {
        label,
        a {
            border-left: 3px solid transparent;
        }
        a:hover {
            border-left: 3px solid orange;
        }
        &.curr > a,
        .curr > a {
            border-left: 3px solid red;
        }
    }
} // lzy-nav-dark-theme




// === Top Nav
#lzy .lzy-nav-top-horizontal {
    input,
    label {
        display: inline-block;
    }
    .lzy-nav-arrow {
        transform: rotate(90deg);
        opacity: 1;
    }

    .lzy-nav-heading {
        display: inline-block;
        font-size: var(--lzy-nav-txt-size);
        padding-left: var(--lzy-nav-top-horizontal-padding);
        vertical-align: top;
    }

    .lzy-lvl1.lzy-nav-no-content > a {
        display: none !important;
    }
    //#lzy.lzy-large-screen .lzy-nav-top-horizontal .lzy-has-children {
    .lzy-has-children {
        .lzy-nav-heading-elem.lzy-nav-heading-elem a {
            padding-left: var(--lzy-nav-top-horizontal-padding);
        }
    }
} // lzy-nav-top-horizontal

.touchevents #lzy .lzy-nav-top-horizontal {
    // A0
    .lzy-lvl1.lzy-has-children > a,
    .lzy-lvl2 > div .lzy-nav-heading-elem {
        display: none !important;
    }
}

.no-touchevents #lzy .lzy-nav-top-horizontal {
    .lzy-has-children {
        .lzy-nav-heading-elem {
            display: none;
            background: #eeeeff;
        }
    }
    .lzy-nav-has-content.lzy-nav-has-content {
        & > label {
            display: none;
        }
    }
}


#lzy .lzy-nav:not(.lzy-nav-top-horizontal) .lzy-nav-arrow {
    float: left;
}


// horizontal nav:
#lzy.lzy-large-screen {
    .lzy-nav-top-horizontal {
        li {
            vertical-align: top;
        }
        label,
        a,
        ol,
        div {
            font-size: var(--lzy-nav-txt-size);
        }
        label,
        a {
            padding-right: var(--lzy-nav-top-horizontal-padding);
        }
        .lzy-nav-arrow {
            display: inline-block;
        }
        label {
            padding-left: 0;
            padding-right: var(--lzy-nav-top-horizontal-padding);
        }
        ol {
            margin: 0;
            padding: 0;
        }
        li {
            vertical-align: top;
            position: relative;
            margin: 0;
        }

        .lzy-lvl1 {
            display: inline-block;
            margin: 0;
            margin-right: var(--lzy-nav-top-horizontal-col-gap);
            font-size: 0;

            > label,
            > a {
                border-left: none;
            }
            > a,
            > .lzy-nav-label,
            > label {
                display: inline-block;
            }
            &:last-child {
                margin-right: 0;
            }
            &.lzy-has-children {
                > a,
                > label {
                    padding-right: 0;
                }

                > div {
                    position: absolute;
                    top: 100%; // push below top level elem
                    left: 0;
                    width: var(--lzy-nav-sub-width);
                    z-index: 2;
                    overflow: hidden;
                }
            }
        } // lzy-lvl1

        .lzy-lvl2 {
            label {
                display: none;
            }
            a {
                margin-bottom: 1px;
            }
        }
        div {
            background: white;
        }
    } // lzy-nav-top-horizontal

    .lzy-nav-top-horizontal:not(.lzy-nav-indented) {
        a {
            padding-left: $slidedownX2;
        }
    }
    .lzy-nav-top-horizontal.lzy-nav-indented {
        .lzy-lvl1 > label > .lzy-nav-label,
        .lzy-lvl1 > a {
            padding-left: var(--lzy-nav-top-horizontal-padding);
        }
        .lzy-lvl2 .lzy-nav-arrow {
            display: none;
        }
        .lzy-lvl2 > label,
        .lzy-lvl2 > a {
            padding-left: $slidedownX2;
        }
        .lzy-lvl3 > a {
            padding-left: $slidedownX3;
        }
        .lzy-lvl4 > a {
            padding-left: $slidedownX4;
        }
        .lzy-lvl5 > a {
            padding-left: $slidedownX5;
        }

    } // lzy-nav-top-horizontal

} // top-nav lzy-large-screen




//=== in-page nav:
.lzy-in-page-nav {
    --lzy-in-page-first-indent: 0em;
    --lzy-in-page-indent-step: 1em;

    ol {
        padding: 0;
    }
    li {
        list-style: none;
        display: block;
    }
    .H1 {
        margin-left: var(--lzy-in-page-first-indent);
    }
    .H2 {
        margin-left: calc(var(--lzy-in-page-first-indent) + var(--lzy-in-page-indent-step));
    }
    .H3 {
        margin-left: calc(var(--lzy-in-page-first-indent) + 2 * var(--lzy-in-page-indent-step));
    }
    .H4 {
        margin-left: calc(var(--lzy-in-page-first-indent) + 3 * var(--lzy-in-page-indent-step));
    }
    .H5 {
        margin-left: calc(var(--lzy-in-page-first-indent) + 4 * var(--lzy-in-page-indent-step));
    }
    .H6 {
        margin-left: calc(var(--lzy-in-page-first-indent) + 5 * var(--lzy-in-page-indent-step));
    }
} // lzy-in-page-nav




//=== breadcrumb:
.lzy-nav-breadcrumb {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    .lzy-nav-breadcrumb-separator {
        position: relative;
        display: inline-block;
        width: 1.6em;
        text-align: center;
        font-family: Impact, Charcoal, sans-serif;
        opacity: 0.6;
    }
} // lzy-nav-breadcrumb





//=== Mobile Nav & Menu Button
.lzy-mobile-page-header {
    text-align: center;
    height: var(--lzy-mobile-header-height);
    line-height: var(--lzy-mobile-header-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    background: var(--lzy-mobile-header-bg-color);
    h1 {
        font-size: var(--lzy-mobile-header-font-size);
        font-weight: bold;
        margin: 0;
        color: var(--lzy-mobile-header-txt-color);
    }
    button {
        height: var(--lzy-mobile-header-height);
        width: var(--lzy-mobile-header-height);
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        background: transparent;
        border: none;

        span {
            font-size: 8vw;
            text-align: center;
            color: var(--lzy-mobile-header-txt-color);
        }
    }
}



// Small / Mobile Screen:
$xCorr2: 1.95em;
$yPadding: 0.4em;
body.lzy-small-screen {
    font-size: 3vw;
    .page {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        background: #333;
        height: 100vh;
        width: 100vw;
        overflow: auto;
    }

    .main,
    .header {
        position: fixed;
        top: var(--lzy-mobile-header-height);
        overflow: auto;
    }
    .header {
        left: 0;
        width: 60vw;
        box-shadow: inset -4px 0 4px 0px #333;
        height: calc(100vh - var(--lzy-mobile-header-height) - var(--lzy-mobile-footer-height) );
        .lzy-nav.lzy-nav {
            a, label {
                padding-top: $yPadding !important;
                padding-bottom: $yPadding !important;
                font-size: 5vw !important;
            }
        }
    }
    &#lzy .header .lzy-nav.lzy-nav {
        a, label {
            font-size: 4vw;
        }
    }

    .main {
        left: 0;
        width: 100vw;
        height: calc(100vh - var(--lzy-mobile-header-height) - var(--lzy-mobile-footer-height) );
        background: #fff;
        padding: 1em;
        transition: left 0.3s;
    }

    footer {
        bottom: 0;
        height: var(--lzy-mobile-footer-height);
    }
    header,
    footer {
        position: fixed;
        background: var(--lzy-mobile-header-bg-color);
        color: var(--lzy-mobile-header-txt-color);
        left: 0;
        width: 100vw;
    }
    footer * {
        color: var(--lzy-mobile-header-txt-color);
    }
    .lzy-mobile-page-header {
        display: block;
        z-index: 2;
    }
    .lzy-nav {
        .lzy-nav-label {
            display: inline-block;
        }
        .lzy-lvl1 .lzy-nav-label {
            max-width: calc(60vw - #{$xCorr2} - (var(--lzy-nav-first-indent)));
        }
        .lzy-lvl2 .lzy-nav-label {
            max-width: calc(60vw - #{$xCorr2} - (var(--lzy-nav-first-indent) + var(--lzy-nav-indent-step)));
        }
        .lzy-lvl3 .lzy-nav-label {
            max-width: calc(60vw - #{$xCorr2} - (var(--lzy-nav-first-indent) + 2 * var(--lzy-nav-indent-step)));
        }
        .lzy-lvl4 .lzy-nav-label {
            max-width: calc(60vw - #{$xCorr2} - (var(--lzy-nav-first-indent) + 3 * var(--lzy-nav-indent-step)));
        }
        .lzy-lvl5 .lzy-nav-label {
            max-width: calc(60vw - #{$xCorr2} - (var(--lzy-nav-first-indent) + 4 * var(--lzy-nav-indent-step)));
        }
        &.lzy-nav-primary a {
            background: #4f4f4f;
            margin-bottom: 1px !important;
        }
    }
    .lzy-nav-primary .lzy-nav-wrapper {
        min-height: 200vh;
    }
    &#lzy .lzy-nav-heading-elem.lzy-nav-heading-elem {
        display: none;
    }
}
#lzy.lzy-nav-mobile-open main {
    left: 60vw;
    transition: left 0.3s;
}



