
.lzy-form-legend {
	margin: 1em 0;
}
#lzy-reservation-timed-out-btn {
	display: block;
	margin: 1.5em auto 0;
}
.lzy-forms-preview {
	font-size: 10pt;
}
.lzy-reservtion-deadline-passed {
	padding: 2em 0;

}