/* enroll() */

.lzy-enroll-row {
  font-size: 0; }
  .lzy-enroll-row * {
    font-size: var(--lzy-enroll-font-size, 12pt); }
  .lzy-enroll-row > div {
    display: inline-block;
    height: 1.6em;
    line-height: 1.6em;
    height: var(--lzy-enroll-height-field, 1.6em);
    line-height: var(--lzy-enroll-height-field, 1.6em);
    vertical-align: top;
    padding: 0 4px; }

.lzy-enroll-hdr div {
  line-height: 2em;
  height: 2em;
  height: var(--lzy-enroll-height-hdr-field, 2em);
  line-height: var(--lzy-enroll-height-hdr-field, 2em); }
  .lzy-enroll-hdr .lzy-enroll-field {
    padding: 0 8px; }

.lzy-enroll-field {
  font-family: helvetica, arial, sans-serif;
  width: var(--lzy-enroll-width-main, 18em);
  color: var(--lzy-enroll-color, #000); }
  .lzy-enroll-field * {
    display: inline-block;
    border-bottom: none; }
  .lzy-enroll-field .lzy-num {
    opacity: 0.4;
    font-size: 75%;
    width: 1.1em;
    text-align: right;
    margin-right: 2px; }
  .lzy-enroll-field .lzy-name {
    width: calc(var(--lzy-enroll-width-main, 18em) - 3em); }
  .lzy-enroll-field a, .lzy-enroll-field a .lzy-name {
    color: var(--lzy-enroll-color, #000); }
  .lzy-enroll-field.lzy-enroll-add-field a, .lzy-enroll-field.lzy-enroll-add-field a .lzy-name {
    color: var(--lzy-enroll-color, #999); }
    .lzy-enroll-field.lzy-enroll-add-field:hover a, .lzy-enroll-field.lzy-enroll-add-field:hover a .lzy-name {
      color: var(--lzy-enroll-color, #000); }

.lzy-enroll-add {
  font-weight: bold;
  color: #00b700;
  font-style: normal; }

.lzy-enroll-del {
  font-weight: bold;
  color: #b70000;
  font-style: normal; }

.lzy-enroll-modify {
  color: blue;
  transform: scale(-1, 1);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal; }

.lzy-enroll-add-field {
  font-style: italic; }
  .lzy-enroll-add-field .lzy-name {
    font-weight: lighter;
    color: #aaa; }

.lzy-enroll-aux-field {
  width: var(--lzy-enroll-width-aux, 8em);
  padding: 0 4px; }

.lzy-enroll-field, .lzy-enroll-aux-field {
  background: var(--lzy-enroll-bg, #eff);
  color: var(--lzy-enroll-color, #000);
  border-top: var(--lzy-enroll-border, 1px dotted #ccc);
  border-left: var(--lzy-enroll-border, 1px dotted #ccc); }

.lzy-enroll-field:last-child, .lzy-enroll-aux-field:last-child {
  border-right: var(--lzy-enroll-border, 1px dotted #ccc); }

.lzy-enroll-row:last-child .lzy-enroll-field, .lzy-enroll-row:last-child .lzy-enroll-aux-field {
  border-bottom: var(--lzy-enroll-border, 1px dotted #ccc); }

.lzy-enroll-row.lzy-enroll-hdr .lzy-enroll-field, .lzy-enroll-row.lzy-enroll-hdr .lzy-enroll-aux-field {
  color: var(--lzy-enroll-color-hdr, #ffe);
  background: var(--lzy-enroll-bg-hdr, #184552); }

.lzy-enroll-reserve-field .lzy-enroll-field, .lzy-enroll-reserve-field .lzy-enroll-aux-field {
  background: var(--lzy-enroll-bg-reserve, #ffe);
  color: var(--lzy-enroll-color-reserve, black); }
  .lzy-enroll-reserve-field .lzy-enroll-field a, .lzy-enroll-reserve-field .lzy-enroll-aux-field a, .lzy-enroll-reserve-field .lzy-enroll-field a .lzy-name, .lzy-enroll-reserve-field .lzy-enroll-aux-field a .lzy-name {
    color: var(--lzy-enroll-color-reserve, black); }

.lzy-enroll-admin-only {
  color: red;
  font-style: italic; }

.lzy-enrollment-dialog {
  position: absolute;
  width: 400px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px #aaa;
  background: #eef7ff;
  background: var(--lzy-enroll-popup-bg, #eef7ff);
  border: 1px solid #9be8f5;
  border: 1px solid var(--lzy-enroll-popup-border, #9be8f5);
  max-width: 98vw;
  overflow: auto;
  max-height: 98vh; }
  .lzy-enrollment-dialog .lzy-enroll-dialog-row {
    font-size: 0;
    display: block;
    margin-bottom: 4px;
    clear: both; }
    .lzy-enrollment-dialog .lzy-enroll-dialog-row * {
      font-size: var(--lzy-enroll-font-size, 12pt); }
  .lzy-enrollment-dialog * {
    vertical-align: top; }
  .lzy-enrollment-dialog label, .lzy-enrollment-dialog input {
    display: inline-block;
    padding: 4px 0; }
  .lzy-enrollment-dialog .lzy-modify-name-text, .lzy-enrollment-dialog input {
    width: calc(100% - var(--lzy-enroll-dialog-width-label, 4em) - 4px); }
  .lzy-enrollment-dialog .lzy-name, .lzy-enrollment-dialog label {
    width: 4em;
    width: var(--lzy-enroll-dialog-width-label, 4em); }
  .lzy-enrollment-dialog select {
    width: 4em;
    width: var(--lzy-enroll-dialog-width-select, 10em); }
  .lzy-enrollment-dialog button {
    color: #666;
    font-family: helvetica, arial, sans-serif;
    border-radius: 4px;
    border: 1px solid #bcbcbc;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    background: -webkit-linear-gradient(#fff 0%, #efefef 60%, #e1dfe2 100%);
    background: -ms-linear-gradient(#fff 0%, #efefef 60%, #e1dfe2 100%);
    background: linear-gradient(#fff 0%, #efefef 60%, #e1dfe2 100%);
    padding: 0.33em 4px;
    cursor: pointer; }
  .lzy-enrollment-dialog h3 {
    color: #9b0404; }
  .lzy-enrollment-dialog .lzy-name, .lzy-enrollment-dialog .lzy-enroll-name-text, .lzy-enrollment-dialog .lzy-modify-name-text {
    display: inline-block;
    padding: 4px 0; }
  .lzy-enrollment-dialog .lzy-enroll-button-row {
    display: flex;
    justify-content: flex-end;
    flex-flow: row-reverse;
    padding-top: 10px; }
    .lzy-enrollment-dialog .lzy-enroll-button-row > * {
      flex: 1;
      flex-grow: 1;
      margin-left: 10px; }
    .lzy-enrollment-dialog .lzy-enroll-button-row > *:last-child {
      margin-left: 0; }
  .lzy-enrollment-dialog .lzy-enroll-dialog-del-row {
    margin-top: 1em; }
    .lzy-enrollment-dialog .lzy-enroll-dialog-del-row button {
      color: maroon; }
  .lzy-enrollment-dialog .lzy-enroll-or {
    margin-top: 10px; }

.lzy-enroll-dialog-close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 200%;
  cursor: pointer; }

.lzy-enroll-popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background: rgba(200, 200, 200, 0.8);
  display: flex;
  align-items: center;
  justify-content: center; }

.lzy-enroll-hide-dialog {
  display: none; }

.lzy-enroll-comment {
  padding: 15px 20px;
  box-shadow: inset 0 0 7px #c4c761;
  margin-top: 15px;
  background: #feffde; }

.lzy-enroll-errmsg {
  color: red;
  margin: 0.5em 0;
  padding: 0 0.3em; }
