/* Edit-Data */

.lzy-data-input-rec {
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 10px; }
  .lzy-data-input-rec input, .lzy-data-input-rec label {
    display: inline-block; }
  .lzy-data-input-rec label {
    width: 7em; }
  .lzy-data-input-rec input {
    padding: 0.4em 0.6em; }

.lzy-data-input-box {
  width: calc(100% - 2.5em); }

.lzy-data-input-rec-buttons {
  width: 2em; }

.lzy-data-input-box, .lzy-data-input-rec-buttons {
  display: inline-block;
  vertical-align: top; }

.lzy-data-input-rec button {
  height: 2em;
  width: 2em;
  padding: 0 0 0.15em 0;
  text-align: center; }

.lzy-data-input-field {
  margin-left: 1em; }

.lzy-data-input-field label {
  width: 6em; }
  .lzy-data-input-field input {
    width: calc(100% - 9em); }

.lzy-data-input-form-buttons {
  margin: 0.5em 0; }

.lzy-data-input-time.lzy-data-input-time {
	width: unset;
  }