
/* Calendar */

.qtip-default {
  border-radius: 0.6em; }

.qtip-content .fc-field-label {
  font-weight: bold;
  display: block;
  width: 8.5em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }
  .qtip-content .fc-field-value {
    display: block;
    margin: 0 0 0.5em 1em; }
  .qtip-content .fc-time, .qtip-content .fc-title, .qtip-content .fc-custom-field-wrapper > div {
    margin-bottom: 0.5em; }

.fc-event .fc-field-label, .fc-event .fc-custom-field-wrapper {
  display: none; }

.lzy-cal-link {
  z-index: 999; }

.fc-event .fc-bg {
  z-index: -1; }

.fc-category {
  display: none; }

.lzy-cal-editing {
  border: 1px solid red; }

.lzy-cal-field {
  width: 100%; }

.field-type-date .lzy-cal-label {
  position: absolute;
  right: -1000vh; }

.field-wrapper:not(.field-type-date) {
  margin: 10px 0; }

#lzy-calendar-default-form.lzy-cal-category-spiel .lzy-cal-speaker, #lzy-calendar-default-form.lzy-cal-category-spiel .lzy-cal-moderator {
  display: none; }

.fc-list-view .fc-list-item-title .fc-title-prefix, .fc-list-view .fc-list-item-title .fc-field-label {
  display: none; }
