/* Editable.css */
/*
	CSS Variables:
	--lzy-editable-height
	--lzy-editable-padding-x
	--lzy-editable-padding-y
	--lzy-editable-bg
	--lzy-editable-bg-active
	--lzy-editable-bg-inactive
*/

.lzy-editable-active.lzy-editable-active,
.lzy-editable.lzy-editable {
	position: relative;
	overflow: hidden;
	min-width: 8em;
	min-height: var(--lzy-editable-height, 1.8em);
	line-height: 1.2em;
	white-space: pre-wrap;
	background: #eff;
	background: var(--lzy-editable-bg, transparent);
	border: 1px solid #ddd;
	padding: 2px 2px 0 6px;
	padding-top: calc( (var(--lzy-editable-height, 1.8em) - 1.2em) / 2);
	padding-left: var(--lzy-editable-padding-x, 6px);
	padding-right: var(--lzy-editable-padding-x, 4px);
	cursor: pointer;
}
#lzy .lzy-editable-active {
	padding: 0;
	text-align: left;
}
.lzy-editable-multiline textarea,
.lzy-editable-active textarea,
.lzy-editable-active input {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #efe;
	background: var(--lzy-editable-bg-active, #efe);
	border: 0 solid transparent;
	padding: 2px 2px 0 6px;
	padding-top: calc( (var(--lzy-editable-height, 1.8em) - 1.2em) / 2);
	padding-left: var(--lzy-editable-padding-x, 6px);
	line-height: 1.2em;
}
.lzy-editable-active input {
	padding-top: calc( (var(--lzy-editable-height, 1.8em) - 1.2em) / 2 - 2px);
}
td.lzy-editable-active,
td.lzy-editable.lzy-editable {
	height: var(--lzy-editable-height, 1.8em);
}
td.lzy-editable-active textarea,
td.lzy-editable-active input {
	top: -1px;
}

.lzy-editable-active input:focus,
.lzy-editable-active textarea:focus {
	outline: none;
}




#lzy .lzy-editable-inactive .lzy-editable {
	cursor: auto;
	background: #f8f8f8;
	background: var(--lzy-editable-bg-inactive, #f8f8f8);
}

.lzy-editable-row-nr,
.lzy-editable-col {
    display: inline-block;
}
.lzy-editable-row-nr {
    width: 1.6em;
	height: 2em;
	line-height: 2em;
	vertical-align: top;
	text-align: right;
	padding: 5px 2px 0 0;
	font-size: 70%;
	color: #999;
}

.lzy-editable-cancel-button,
.lzy-editable-submit-button {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
	text-align: center;
	vertical-align: top;
	padding: 0;
	margin: 0;
	margin: 1px 1px 0 0;
	width: 2.2em;
	line-height: 1em !important;
	height: calc(100% - 2px);
	display: inline-block;
	font-size: 14pt;
}
.lzy-editable-show-buttons .lzy-editable-active .lzy-editable-submit-button {
	right: 2.2em;
}

.lzy-editable.lzy-wait,
.lzy-editable-active.lzy-wait {
	cursor: wait!important;
}


.lzy-editable-col-hdr span {
	display: inline-block;
	width: calc(16em - 10px);
	height: 2em;
	line-height: 2em;
	padding: 0 5px;
}

.lzy-popup-wrapper {
	min-height: auto;
}


.lzy-editable-multiline.lzy-editable-active,
.lzy-editable-multiline.lzy-editable,
.lzy-editable-multiline .lzy-editable-active,
.lzy-editable-multiline .lzy-editable {
	white-space: pre;
	overflow: auto;
	line-height: 1.2em;
}
.lzy-editable-multiline.lzy-editable-active,
.lzy-editable-multiline .lzy-editable-active {
	min-height: 4.6em;
	min-height: calc(var(--lzy-editable-height, 1.8em) * 2.6);
	line-height: 1.2em;
}
.lzy-editable-multiline.lzy-editable-active textarea,
.lzy-editable-multiline .lzy-editable-active textarea {
	min-height: 4.5em;
	min-height: calc(var(--lzy-editable-height, 1.8em) * 2.6 - 4px);
	line-height: 1.2em;
}

.lzy-editable-multiline.lzy-editable-active,
.lzy-editable-multiline .lzy-editable-active,
.lzy-editable-multiline td.lzy-editable-active,
td.lzy-editable-multiline.lzy-editable-active {
	height: 4.6em;
	height: calc(var(--lzy-editable-height, 1.8em) * 2.8);
}

.lzy-editable-multiline.lzy-editable-active,
.lzy-editable-multiline .lzy-editable-active {
	padding: 0;
}
#lzy .lzy-editable-multiline button {
	height: 1.6em;
	right: 0;
}
.lzy-editable-multiline button.lzy-editable-cancel-button {
	top: calc( 1.6em + 2px );
}

