
.lzy-editable-frozen,
.lzy-editable {
	position: relative;
	border: none;
	padding: 0;
	overflow: hidden;
	width: 16em;
	height: 2em;
}
.lzy-editable.lzy-editable-show-button {
    opacity: 0.99; /* create stacking context */
}
.lzy-editable > * {
	box-sizing: border-box;
}
.lzy-editable-active {
	padding: 0;
}

.lzy-editable-frozen,
.lzy-editable input {
	background: #eff;
	border: 1px solid #ddd;
	padding: 0 5px;
	width: 100%;
}
.lzy-editable input {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}
.lzy-editable-frozen {
	line-height: 2em;
	background: #dceeee;
	background: repeating-linear-gradient(    -55deg,    #eeffff,    #eeffff 10px,    #edf8f8 10px,    #edf8f8 15px  );
	width: calc(16em - 12px) !important;
	height: calc(2em - 2px);
	cursor: url(../rsc/locked.png), auto;
}


.lzy-editable.lzy-editable-show-button input:focus + .lzy-editable-submit-button {
    z-index: 99999!important;
    cursor: pointer;
}
.lzy-editable .lzy-locked,
.lzy-editable.lzy-locked input {
	cursor: url(../rsc/stop.png), auto;
}



.lzy-editable-row-nr,
.lzy-editable-col {
    display: inline-block;
}
.lzy-editable-row-nr {
    width: 1.6em;
	height: 2em;
	line-height: 2em;
	vertical-align: top;
	text-align: right;
	padding: 5px 2px 0 0;
	font-size: 70%;
	color: #999;
}

.lzy-editable-submit-button {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	text-align: center;
	vertical-align: top;
	padding: 0;
	margin: 0;
	width: 2.2em;
	height: calc(100% - 2px);
	display: inline-block;
	margin: 1px 1px 0 0;
	font-size: 14pt;
}

.lzy-editable .lzy-wait {
	cursor: wait!important;
}


.lzy-editable-col-hdr span {
	display: inline-block;
	width: calc(16em - 10px);
	height: 2em;
	line-height: 2em;
	padding: 0 5px;
}
