/* Editable.css */

.lzy-editable-active,
.lzy-editable.lzy-editable {
	position: relative;
	border: none;
	overflow: hidden;
	width: 16em;
	/*min-height: 3em;*/
	white-space: pre-wrap;
	/*height: 2em;*/
	/*line-height: 2em;*/
	background: #eff;
	background: var(--lzy-editable-bg, #eff);
	border: 1px solid #ddd;
	padding: 0.4em 0.6em;
	/*padding: 0.3em 0.6em;*/
	/*padding: 0 5px;*/
	cursor: pointer;
}
#lzy .lzy-editable-active {
	padding: 0;
}
.lzy-editable-multiline textarea,
.lzy-editable-active textarea,
.lzy-editable-active input {
	background: #efe;
	background: var(--lzy-editable-bg-active, #efe);
	width: 100%;
	height: 100%;
	border: none;
	/*border: 1px solid #ddd;*/
	/*padding: 0 5px;*/
	padding: 0.4em 0.6em;
	opacity: 0.999;
	z-index: 0;
}
.lzy-editable-active input:focus {
	outline: none;
}


.lzy-element-locked {
	background: #dceeee;
	background: repeating-linear-gradient(-55deg, #eeffff,#eeffff 10px,#edf8f8 10px,#edf8f8 15px);
	cursor: not-allowed;
}
.lzy-element-frozen {
	background: #eee;
	cursor: not-allowed;
}
.lzy-editable-inactive * {
	cursor: auto;
	background: #f8f8f8;
	background: var(--lzy-editable-bg-inactive, #f8f8f8);
}


.lzy-editable-row-nr,
.lzy-editable-col {
    display: inline-block;
}
.lzy-editable-row-nr {
    width: 1.6em;
	height: 2em;
	line-height: 2em;
	vertical-align: top;
	text-align: right;
	padding: 5px 2px 0 0;
	font-size: 70%;
	color: #999;
}

.lzy-editable-cancel-button,
.lzy-editable-submit-button {
	position: absolute;
	top: 1px;
	right: 0;
	z-index: 0;
	text-align: center;
	vertical-align: top;
	padding: 0;
	margin: 0;
	width: 2.2em;
	height: calc(100% - 2px);
	display: inline-block;
	margin: 1px 1px 0 0;
	font-size: 14pt;
}
.lzy-editable-show-buttons .lzy-editable-submit-button,
.touchevents .lzy-editable-submit-button,
.touch .lzy-editable-submit-button {
	right: 2.2em;
}

.lzy-editable-active .lzy-wait {
	cursor: wait!important;
}


.lzy-editable-col-hdr span {
	display: inline-block;
	width: calc(16em - 10px);
	height: 2em;
	line-height: 2em;
	padding: 0 5px;
}

.lzy-js-popup-wrapper {
	min-height: auto;
}


.lzy-editable-multiline .lzy-editable-active,
.lzy-editable-multiline .lzy-editable {
	min-height: 4.5em;
	white-space: pre;
	overflow: auto;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 90%;
	line-height: 1em;
	padding: 5px;
}

.lzy-editable-multiline .lzy-editable-active {
	padding: 0;
}

