/* Journal.css */

.lzy-journal {
  position: relative;
}
.lzy-journal .lzy-wait {
  cursor: wait !important; }
.lzy-journal .lzy-journal-presentation-wrapper, .lzy-journal .lzy-journal-entry {
  border: 1px solid gray;
  font-size: 10pt; }
.lzy-journal .lzy-journal-presentation > div, .lzy-journal textarea.lzy-journal-entry {
  padding: 10px; }

#lzy .lzy-journal > div:first-child {
  margin-bottom: 4px;
}
#lzy .lzy-journal-presentation-wrapper {
  overflow-y: scroll;
  max-height: 10em;
  width: 100%;
  height: 100%;
}
  #lzy .lzy-journal-presentation-wrapper h1 {
    margin: 0;
    padding: 0; }
  #lzy .lzy-journal-presentation-wrapper ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px; }
  #lzy .lzy-journal-presentation-wrapper ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); }
  #lzy .lzy-journal-presentation-wrapper .lzy-journal-presentation-pre {
    white-space: pre-line; }

#lzy .lzy-journal-presentation {
  min-height: 10em;
  padding: 0.7em 10px 0.7em 10px;
  background: var(--lzy-chronical-presentation-bg, rgba(250, 250, 100, 0.1)); }
  #lzy .lzy-journal-presentation h1 {
    font-size: 14pt; }
  #lzy .lzy-journal-presentation h4 {
    margin-bottom: 0.4em; }
  #lzy .lzy-journal-presentation p, #lzy .lzy-journal-presentation div {
    padding: 0;
    margin: 0 0 0.4em 0;
    line-height: 1.2em; }
  #lzy .lzy-journal-presentation ul, #lzy .lzy-journal-presentation ol {
    margin: 0 0 0.4em 0; }

.lzy-journal-entry-wrapper {
  min-height: 3.5em;
  display: grid;
  grid-template-columns: auto 2em;
}
.lzy-journal-entry {
  background: #eff9ff;
  background: var(--lzy-journal-entry-bg, #eff9ff);
  margin-right: 4px;}

textarea.lzy-journal-entry {
  width: calc(100% - 5px);
  height: 100%;
  white-space: pre-wrap; }

/* prevent zooming input/textarea on iOS: */
.lzy-small-screen input.lzy-journal-entry,
.lzy-small-screen textarea.lzy-journal-entry {
  font-size: 16px;
}

.lzy-textarea-autogrow {
  display: grid; }
  .lzy-textarea-autogrow::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden; }
  .lzy-textarea-autogrow > textarea {
    resize: none;
    overflow: hidden; }
  .lzy-textarea-autogrow > textarea, .lzy-textarea-autogrow::after {
    border: 1px solid black;
    padding: 0.5rem;
    font: inherit;
    grid-area:  1  /  1  /  2  /  2 ; }

.lzy-journal-entry-singleline {
  height: 2.7em;
  padding: 10px; }
  .lzy-journal-send button {
    padding: 0;
    width: 2em;
    height: 2em; }

.lzy-journal-edit-btn {
  font-size: 12pt;
  border-radius: 50%;
  width: 2.2em;
  height: 2.2em;
  position: absolute;
  top: -1em;
  right: -1em;
  padding: 0;
  border: 1px solid #bcbcbc;
  -webkit-box-shadow: 0 1px 3px rgb(0 0 0 / 12%);
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%);
  background: -webkit-linear-gradient(#FFF 0%, #EFEFEF 60%, #E1DFE2 100%);
  background: -ms-linear-gradient(#FFF 0%, #EFEFEF 60%, #E1DFE2 100%);
  background: linear-gradient(#FFF 0%, #EFEFEF 60%, #E1DFE2 100%);
  cursor: pointer;
  z-index: 2;
  -webkit-transform: translate3d(0,0,0);
}
.editor-toolbar a:nth-last-child(3),
.editor-toolbar a:nth-last-child(2),
.editor-toolbar a:last-child {
  float: right;
}

#lzy .CodeMirror-wrap .CodeMirror-line {
  font-size: 10pt;
}
.lzy-popup-buttons {
  margin-top: 0;
}
.lzy-journal-padded {
  max-width: 40em;
  padding: 1em 1em 0 0;
}
.lzy-journal > div {
  position: relative;
}
.lzy-editor {
  height: calc(100% - 2em);
  width: 100%; }

.lzy-popup-wrapper.lzy-editor-rich {
  height: 100vh; }
.lzy-popup-wrapper.lzy-editor-rich .CodeMirror-wrap {
  min-height: 50vh;
  height: calc(80vh - 5rem); }

.lzy-popup-wrapper.lzy-editor:not(.lzy-editor-rich) .lzy-popup-container {
  height: 90vh; }
