.page {
	padding: 20px;
}
nav li {
	list-style: none;
	display: inline-block;
	padding: 5px 10px;
	background: #444;
	a {
		border-bottom: none;
		color: white;
	}
    .pure-menu-link {
        color: #eee;
    }
}

.pure-menu-item.has-children > ul {
    display: none;
}

.page .header {
    text-align: right;
}

.main {
    min-height: 10em;
}

footer {
    border-top: 1px solid #ccc;
    padding-top: 1em;
    .login-link {
        float: right;
    }
}

