//	Presentation Styling

$headerHeight:  var(--presentation-header-height, 3rem);
$footerHeight:  var(--presentation-footer-height, 3rem);
$paddingX:      var(--presentation-horizontal-padding, 5vw);
$bgColor:       var(--presentation-bg-color, white);
$scrollbarColor: var(--presentation-scrollbar-color, #deedfd);

html {
    height: -webkit-fill-available;
}
body.lzy-default-presentation-styling {

// === Layout =====================
    position: relative;
    overflow: hidden;
    height: -webkit-fill-available;

    .lzy-page {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        //height: -webkit-fill-available;
    }

    .lzy-main {
        position: absolute;
        top: $headerHeight;
        left: 0;
        right: 0;
        bottom: $footerHeight;
        padding: 0 $paddingX;
        background-color: $bgColor;
    }

    .lzy-slide {
        position: absolute;
        width: calc(100vw - 2 * #{$paddingX});
        height: calc(100vh - #{$headerHeight} - #{$footerHeight});
        padding: 0!important; // don't modify
        background-color: $bgColor;
    }

    .lzy-slide-inner-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: fit-content;
        height: fit-content;
        padding: 0;
        line-height: 1.4em;

        h1 { font-size: 2em; }
        h2 { font-size: 1.5em; }
        h3 { font-size: 1.2em; }
        h4 { font-size: 1.1em; }
        h5 { font-size: 1em; }
    }
    .lzy-page,
    .lzy-page a {
        cursor: auto;
        cursor: url(../rsc/red-arrow.png), auto;
    }

    .right {
        width: 40vw;
        float: right;
        margin: 0 0 1em 1em;
    }
    .center {
        width: 80%;
    }


    // === Text =========================
    h1 {
        font-size: 200%;
        margin: 0.5em 0 0.5em;
        line-height: 100%;
    }

    h2 {
        font-size: 150%;
        margin: 0.6em 0 0.4em;
    }

    h3 {
        font-size: 120%;
        margin: 0.6em 0 0.4em;
    }

    h4 {
        font-size: 110%;
        margin: 0.6em 0 0.4em;
    }

    ul {
        margin: 0.5em;
    }
    pre, code {
        line-height: 1.1em;
    }
    pre {
        background: ivory;
        padding: 1em;
        box-shadow: inset 0.5px 0.5px 5px rgba(100,100,100,0.5);
    }
    code, kbd, pre, samp {
        font-size: 90%;
    }



// === header =======================
    .lzy-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: $headerHeight;
        line-height: 1.2em;
        padding-top: calc((#{$headerHeight} - 1.2em) / 2);
        padding-left: $paddingX;
        padding-right: $paddingX;
        z-index: 2;
        box-shadow: 0 0 5px gray;
        background: white;
    }

// === footer =======================
    .lzy-footer {
        position: absolute;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: $footerHeight;
        line-height: 1.2em;
        padding-top: calc((#{$footerHeight} - 1.2em) / 2);
        padding-left: $paddingX;
        padding-right: $paddingX;
        margin: 0;
        border: none;
        background: white;
        z-index: 2;
        box-shadow: 0 0 5px gray;
        > div {
            padding-top: 0 !important;
        }
        .lzy-footer-right {
            margin-top: -0.4em;
        }
    }


// === page switching links =================
    .lzy-prev-page-link,
    .lzy-next-page-link {
        position: absolute;
        top: 0;
        font-size: 5vw;
        opacity: 0;
        z-index: 999;

        a {
            border-bottom: none;
            color: black;
            -webkit-text-stroke: 2px red;
            text-stroke: 2px red;
        }

        &:hover {
            opacity: 1;
        }
    }

    .lzy-prev-page-link {
        left: -0.5em;
    }

    .lzy-next-page-link {
        right: -0.5em;
    }

    // === Revealing =====================
    .revealedSection,
    .lzy-revealedSection {
        display: none;
    }
    .withheldSection,
    .lzy-withheld-section {
        opacity: 0;
        z-index: -1;
        transition: opacity 0.1s;
    }

    .debug section {
        box-shadow: inset 0 0 3px red;
    }
    #lzy-log { display: none; }

    .revealed,
    .lzy-revealed {
        color: black;
        transition: opacity 0.1s;
        opacity: 1;
        z-index: 9;
    }
    .withhold,
    .lzy-withhold {
        color: #ddd;
        opacity: 0;
        z-index: -1;
        transition: opacity 0.1s;
    }

    .hl {
        color: red;
    }

    .two-col > div,
    .two-cols > div,
    .cols-50-50 > div {
        display: inline-block;
        width: calc(50% - 6px);
        padding: 0 1em 0 0;
        vertical-align: top;
    }

    .cols-60-40 > div {
        display: inline-block;
        padding: 0 1em 0 0; }
    .cols-60-40 > div:first-child, .cols-2-60_40 > div:first-child {
        width: 59%; }
    .cols-60-40 > div:nth-child(2), .cols-2-60_40 > div:nth-child(2) {
        width: 39%; }

    .cols-67-33 > div {
        display: inline-block;
        padding: 0 1em 0 0; }
    .cols-67-33 > div:first-child {
        width: 66%; }
    .cols-67-33 > div:nth-child(2) {
        width: 33%; }

    .cols-75-25 > div {
        display: inline-block;
        padding: 0 1em 0 0; }
    .cols-75-25 > div:first-child {
        width: 75%; }
    .cols-75-25 > div:nth-child(2) {
        width: 25%; }

    .three-cols > div,
    .cols-33-33-33 > div {
        display: inline-block;
        width: 32.5%;
        padding: 0 1em 0 0;
        vertical-align: top;
    }

    .lzy-pagenumber {
        font-size: 1rem;
    }

    body.lzy-screen-off {
        filter: blur(15px);
        transition: all 0.3s;
    }
    body.screen-black {
        background: #333; }
    body.screen-black .page {
        display: none; }

    aside {
        display: none;
    }

    .lzy-slide-hide-initially {
        opacity: 0;
    }
    .lzy-slide-visible {
        opacity: 1;
        transition: opacity 0.1s;
        transition-delay: 0.1s;
    }

    /* === Cursor ===================== */
    #lzy-cursor-mark {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 4px solid red;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 999;
        cursor: url(../rsc/red-arrow.png), auto;
    }


    @keyframes lzy-wobble-cursor {
        0%  { opacity: 1; transform: scale(1.0, 1.0); }
        5%  { transform: scale(1.3, 1.3); }
        10% { transform: scale(0.9, 0.9); }
        15% { transform: scale(1.1, 1.1); }
        20% { transform: scale(1.0, 1.0); }
        50% {  }
        100% { opacity: 0; }
    }

    .lzy-wobble-cursor {
        -webkit-animation-name: lzy-wobble-cursor;
        animation-name: lzy-wobble-cursor;
        animation-duration: 2s;
    }

    //=== Scrollbars ===================
    @at-root html {
        scrollbar-color: $scrollbarColor $bgColor;
        scrollbar-width: thin;
    }

    /* WebKit and Chromiums */
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: $bgColor;
    }

    ::-webkit-scrollbar-thumb {
        background: $scrollbarColor;
        border-radius: 5px;
    }

    // === iOS 100vh bug -> work-around =========
    .lzy-ios-bottom-gap {
        height: 70px;
    }
} // lzy-default-presentation-styling



@media print {
    .lzy-next-prev-page-links,
    .invisible,
    .skiplinks,
    .lzy-skiplinks,
    .speaker-notes,
    .lzy-speaker-notes {
        display: none;
    }
    body .page .lzy-pagenumber {
        font-size: 10pt;
    }
    .withhold,
    .lzy-withhold {
        color: black;
        opacity: 1!important;
        display: initial;
    }
}
